[2014-11-11 13:27] esbullington opened #1 "Additional charts?"
Histogram and scatter plot, I think.  What else?

[2014-11-11 13:30] esbullington opened #2 "Add labels to bar chart"
Working on this in the `barchart` branch.  The easiest solution for the time being is to use d3 to generate the label svg elements.

In the long run, I'd prefer to use React itself to create some kind of labels component, like almost all the other svg components are created, but I'm having trouble thinking of a good API for a label component.

[2014-11-13 04:53] PxlBuzzard opened #3 "Add optional animation to charts using ReactJS transitions"
I copied this out of the TODO section of the README. This would be a great feature.

[2014-11-14 05:03] #2 closed, assigned to nobody

[2014-11-15 16:14] esbullington opened #5 "Add labels to piechart"
Working on it now.

[2014-11-16 09:48] #5 closed, assigned to nobody

[2014-11-25 22:25] grechut opened #6 "require('../package.json')"
hey :)

what's the purpose of line
`var pkg = require('../package.json');`
which is placed for example here: https://github.com/esbullington/react-d3/blob/master/src/barchart.js#L3

It causes problem for webpack bundling:
`ERROR in ./~/react-d3/package.json
Module parse failed: .../node_modules/react-d3/package.json Line 2: Unexpected token :
You may need an appropriate loader to handle this file

[2014-11-26 15:30] #6 closed, assigned to nobody

[2014-12-03 18:45] ddcech opened #7 "npm pulled in an older version."
I installed this library from NPM and I got the errors for having this line "var pkg = require('../package.json');" inside some of the files. Mentioned in a previous issue.
It seems like the NPM version is off. Or you didn't change the version number when you last updated the library. The package.json file says version 0.0.12 but looks different than the latest on github.

I like where this librar

[2014-12-03 20:53] #7 closed, assigned to nobody

[2014-12-11 17:58] sktt opened #8 "Axes renders on componentWillReceiveProps"
This causes for instance the BarChart not rendering any axes since `componentWillReceiveProps` doesn't run on initial render. Would it work to use `componentDidMount` instead?

[2014-12-14 22:22] tarrencev opened #10 "Chart Title & Axes Attributes"
Should a charts title and axes attributes be dictated by the data object?
It would make the charts more responsive to their inputted data.

For example,
  yAxisTickCount={4}
  xAxisTickInterval={{unit: "year", interval: 1}}
Could be defined in {data} and that way the interval and tick count could be calculated relative to the datasource on the server.

[2014-12-14 22:25] #10 closed, assigned to nobody

[2014-12-15 17:06] tarrencev opened #11 "Splitting chart components into their own file"
What are your thoughts on splitting the chart components into their own files?

i.e. /src/linechart.js could be:
/src/linechart/linechart.react.js
/src/linechart/dataseries.react.js
/src/linechart/xaxis.react.js
/src/linechart/yaxis.react.js
ect.

Seems like the individual linechart.js file is getting large fast. Only downside I see is fuzzy search might be a little harder when there are multiple

[2014-12-15 17:09] tarrencev opened #12 "Inline Styles vs. CSS"
How should we be styling chart components? Should we provide a base CSS file which a user can overload or should we use inline styles and allow the user to programmatically dictate styling though props.

I think the inline style approach would make most sense here since we already have a bunch of styling properties that can be specified through the api. Might be weird to split style properties bet

[2014-12-20 10:01] #8 closed, assigned to nobody

[2014-12-22 23:55] #11 closed, assigned to nobody

[2015-01-04 12:34] yang-wei commented on #1
Are you interested to implement treemap too ? I'm currently experimenting combining React with d3 treemap ([simple example](https://github.com/yang-wei/react-treemap) and [simple app](https://github.com/yang-wei/gh-top)). I can open a pull request if you're interested =)

[2015-01-04 18:34] songgao opened #13 "Legends / Labels for Line Charts?"
Hello, thanks for the nice work!

What do you think of adding legends/labels to line charts? When you have more than one data series, it can be hard to tell which is which.

To implement the legends, it seems that a new `prop` need to be added into `LineChart`. The reason that keys of `data` would not work is that, users might want to have same legend/label for different data series. A possible wa

[2015-01-04 18:42] songgao opened #14 "Thoughts on `LineChart.props.color`?"
Currently `LineChart.props.color` is a function that takes in an argument being the index of the data series being drawn. However, it's hard to associate the index with keys (`seriesName`). This way, there doesn't seem to be a straightforward way to specify color for each data series explicitly. What do you think of letting the function accept keys (`seriesName`)?

A relevant idea is that, could w

[2015-01-05 15:16] esbullington commented on #13
Hi @songgao thanks for your comment.  Yes, legends with keys corresponding to the series name in the `data` prop would be great, thanks!

Please just make sure to avoid React's `state` when you generate the svg markup.  I'm in the process of creating React-generated chart axes (right now they're generated by d3).  This change will allow me to drop all uses of `state` in the existing charts, and on

[2015-01-05 15:28] songgao commented on #13
Thanks for the detailed response @esbullington . React generated axes sounds awesome! Looking forward to that update :D I'll take a look at the testing framework and include a test.

[2015-01-05 15:31] esbullington commented on #14
Let me think about this one.  For right now, users can set specific palettes for data series, which is enough for many use cases.

But you've got some good points about the API, and whether we should even expose `seriesName` to the end user.

[2015-01-05 15:36] songgao commented on #14
I'm thinking in comparison with `plot()` and its friends in Matlab or Python's `matplotlib`. Web is certainly more capable than those and shouldn't be constrained by traditions and assumptions from those tools, but I think we can learn from their API design :-)

[2015-01-08 23:58] esbullington commented on #1
@yang-wei sorry for the delay and thanks for your offer to help.  I just put up a CONTRIBUTING file with some detailed guidelines on what new charts would need.   If the guidelines don't scare you away (not my intention, but I realize there are a lot of them), then I'd be very grateful for your treemap chart.

I think the most time-consuming change your current chart would need to make is change f

[2015-01-09 12:04] yang-wei commented on #1
@esbullington :+1: You're right, they need to be svg-ish to zoom. I will take time to read your guide first and send you a pr =)

[2015-01-11 23:12] jefffriesen commented on #12
I would lean towards passing in styles as props instead of through CSS. There's definitely more and more people doing it, including the React team: https://vimeo.com/116209150

[2015-01-12 05:47] jefffriesen commented on #12
While I personally lean towards inline styles, I see the benefits of styling via CSS. [d4](http://visible.io) does a good job of adding classes to each of the elements. You can inspect the example charts and see how he did it.

I could see a hybrid approach for react-d3. You could attach the necessary classes as CSS hooks to the elements. Then you could pass in a prop that would disable the inline

[2015-01-12 06:11] jefffriesen opened #16 "Are npm dependencies correct?"
I am having problems using this library within a repo. With a forked repo installed locally, I used npm link so that I can edit it while using it in another repo. I've done this before with other libraries and apps without a problem with the dependencies in this library. The react-d3 works fine if I install the remote repo, but it's hard to work that way.

The error I'm getting is this: `Cannot re

[2015-01-15 18:46] esbullington commented on #16
Having looked into this, I don't yet have an answer for why `npm link` isn't working.  But I can answer a few questions:

1. I was not previously familiar with peerDependency, but I'm pretty sure React should not be a peerDependency of React-d3.  It's seems to be for plugin-host type relationships, whereas we depend directly on React to render to the DOM.  In any case, I'm pretty sure that shouldn

[2015-01-16 22:20] unbracketed opened #18 "envify required for browserify?"
I installed the lib via `npm install --save react-d3` and have v0.0.13. browserify/watchify started complaining about `Cannot find module envify`.

I resolved this locally by running `npm install` from the `node_modules/react-d3` directory, but would like to understand how I can get this working in an automated build if possible.

Thanks for the great work.

[2015-01-17 13:22] esbullington commented on #18
Hi, thanks for opening an issue.  Looks like your `npm install` is not installing the dev dependencies, many of which you need since you're building it using browserify.

Are you running this with `NODE_ENV` set on `development` or `production`?

[2015-01-17 15:12] unbracketed commented on #18
I don't have `NODE_ENV` set to anything explicitly.

[2015-01-17 15:15] unbracketed opened #19 "BarChart needs renderAxis"
The axes don't display on the initial render of BarChart. It looks like this has been solved in other components (line chart) with use of `_renderAxis` for `componentDidMount` and `componentWillReceiveProps`

[2015-01-17 18:14] esbullington commented on #19
Is this server-side rending?  Yeah, it's been addressed in other charts.  The reason we have to run it in componentWillReceiveProps is the axes use d3 to generate svg, so that occurs outside of the React's virtual DOM accounting.  As a result, when React is updated with new props, it re-renders to chart and so we need to re-render the axes manually.  Ideally, we'd move toward a pure React axes, bu

[2015-01-17 18:18] esbullington commented on #18
I have no idea why that would happen.  Unless `NODE_ENV` is set to `production`, running `npm install` should pull in *all* dependencies, dev and non-dev, and `envify` is listed as a dev dependency.  To be honest, we're not even using `envify` yet, but this I'm pretty sure this is a symptom of the dev dependencies not getting installed, and not of `envify` in particular not getting installed (it's

[2015-01-18 04:05] unbracketed commented on #19
This is client-side. Thank you for the explanation and I understand the reason for running the logic in componentWillReceiveProps. Regardless where the component is rendered, `cWRP` doesn't get called during the initial render so all components will need to the same logic run in `cDM`.

[2015-01-18 14:14] esbullington commented on #19
Thanks again for the PR (merged).  Just wanted to let you know I'm currently doing the same on the area chart, so we don't overlap efforts.  I'm also looking into chart axis mixins, so perhaps we can remove the code repetition altogether.

[2015-01-18 14:47] esbullington commented on #13
Hey @songgao are you working on legends?  Otherwise, I'm going to start on them soon.  Thanks again!

[2015-01-18 14:52] esbullington commented on #12
So after lots of discussion with other devs and contributors, I agree that inline styles are the way to go, as long as we make sure to expose lots of class hooks for future designers to use for CSS styling (just as you point out is done in d4 -- a very cool project btw).

So I'm closing this issue: inline styles it is.  Thanks for bringing it up for explicit discussion.

[2015-01-18 14:52] #12 closed

[2015-01-18 14:53] esbullington commented on #1
@yang-wei I'm closing this issue in favor of opening an additional issue for each possible new chart.

Thanks again for your awesome work on the treemap!

[2015-01-18 14:53] #1 closed

[2015-01-18 17:13] songgao commented on #13
Hi @esbullington ! Thanks for getting back to this. I haven't got time to really work on the PR. Sorry about that. Please feel free to start on it and I'll try to do some code review.

Yeah pure React axes seems fairly complicated to me as well. But it seems to be something necessary for `react-d3` to gain more popularity. Hopefully I can contribute to this some time in the future :D

[2015-01-18 21:12] unbracketed commented on #19
:+1:

[2015-01-18 22:23] esbullington commented on #19
Fixed areachart with same approach in #21.

[2015-01-18 22:23] #19 closed

[2015-01-18 22:27] esbullington commented on #16
@jefffriesen  OK, I hope I've fixed your issue here.

 Could you try to pull in my latest changes on master, run `npm run build`, change to the directory `build/cjs`, and then run `npm link` like you normally do?

If that works OK, I'm going to go ahead and publish release 0.1.0 on npm.

Thanks for your help!

[2015-01-19 04:13] jefffriesen commented on #16
I'm having some different problems now but I don't think it's related to this. Thanks for checking into and updating the dependencies. I'm going to close this.

[2015-01-19 04:13] #16 closed

[2015-01-20 11:35] esbullington commented on #13
Hi @songgao thanks for letting me know.  But please feel free to submit a PR when you have more time, if you would like to.

I'll keep this open until one of us finishes the legends.

[2015-01-21 20:02] yang-wei opened #24 "Scatter Chart with new api approach"
I am experimenting with scatter chart and hope to discuss something with you before I commit. After reading some of the close issues/pr especially #9 , I really like the api approach like this.
[code]
For me this is more readable and user can fill in the color easily. So is that ok to open a pr with this approach of api design or you think it's better to keep current style?

Ya I also notice that

[2015-01-22 13:39] esbullington commented on #24
Hey @yang-wei that sounds great!  I've thought a lot about the two different API approaches discussed in #9 and here's what I'd like to do: I'd like to offer both.  So you'd create both the `LineChart` and the `DataSeries` components as suggested above (as described in #9, and as you probably already know, you'd access the nested `DataSeries` using `this.props.children`).  Only instead of calling

[2015-01-22 13:43] esbullington commented on #18
Hi @unbracketed I just released a version 0.1.2 with some `package.json` so if you would like to try upgrading and see if it solves your issue, that would be great.  Thanks again for opening the issue.

[2015-01-22 14:33] esbullington commented on #24
@yang-wei By the way, just so we don't overlap each other's work, I wanted to mention my plans for today: I'm going to try to hit the following three things:

1) Factor out axes components to 1 single common component
2) Implement nested data series API as discussed above in `LineChart` and possibly `AreaChart` (stacked area)
3) Possibly implement legend as discussed in #13

But I'll leave the sca

[2015-01-22 15:07] yang-wei commented on #24
Good one @esbullington  !

Yes I think supporting 2 ways and legend(I think this is important!) will make this library greater and the `API` you proposed lgtm =)

So I am going to implement `Scatter Chart` component which support both API first. After axes(common component) and legend are done, I will add them.

[2015-01-22 15:15] yang-wei opened #26 "No more /** @jsx React.DOM */"
@esbullington  Hey, I don't know if you noticed that start from React v0.12, we no longer need to add `/** @jsx React.DOM */` on top of our jsx files. You can see the detail on the [official blog](http://facebook.github.io/react/blog/2014/10/28/react-v0.12.html#jsx-changes). So we can start removing all these comments since we are using v0.12.1.

Anyway feel free to close this issue if you think t

[2015-01-22 15:25] esbullington commented on #24
Great @yang-wei , that sounds perfect!  I'm working on the common axes right now.  If you have time for it, I'll submit the PR and let you review it first before I commit.  Otherwise, I'll go ahead and commit it.

One other thing I've noticed.  In an effort to make things easy for users, I've been using `props.color` for the SVG `stroke` property (basically, I was just wanting to describe the axis

[2015-01-22 15:58] esbullington commented on #26
Oh yeah, thanks for the reminder.  I had forgot about that.  Yeah, if we're only support >=0.12.0, then we can remove them.  I looked around at some of the other big React libraries, like React-Bootstrap and React-Router, and it looks like they're only supporting v0.12 and up.

However, we should probably wait until we release 0.2.0 for this, as it's a breaking change (as is my `props.color` chang

[2015-01-22 22:06] esbullington opened #28 "v0.2.0"
To do for v0.2.0:

1) Add maybe two more chart types: a simple gauge chart (esbullington) and  scatter (yang-wei)
2) Improve documentation (esbullington working on it)
3) Add legends (esbullington working on it)
4) Get the code base cleaned up, and start using jshint (esbullington working on it)
5) Factor out the axes (almost done by esbullington in #27 )
6) Add some simple mouseover animations fo

[2015-01-23 16:48] esbullington commented on #26
Hi @yang-wei I went ahead and removed the pragmas, since:

1) We're already requiring React >=0.12 as a dependency
2) We compile all that jsx anyway before it's published to npm, so it should matter not for regular users

Thanks again for bringing it up; I'm closing the issue now.  Feel free to re-open if you have any addition concerns/questions.

[2015-01-23 16:48] #26 closed

[2015-01-23 18:06] unbracketed commented on #18
Thanks, I'll test this ASAP

[2015-01-23 19:41] berrytj commented on #28
Hi @esbullington, I'm thinking of adding labels to the linechart – is this something you've already worked on?

[2015-01-23 19:41] berrytj commented on #28
Not sure if that's what you mean by "legend", above.

[2015-01-23 20:56] esbullington commented on #28
Hi @berrytj thanks for your input and contribution (I'll check your PR right now).  Yes, I'm working on both a [legend](http://bl.ocks.org/ZJONSSON/3918369) and [label](http://www.d3noob.org/2012/12/adding-axis-labels-to-d3js-graph.html) components right now.  Should have it up today or maybe tomorrow morning.

[2015-01-24 14:17] yang-wei commented on #24
@esbullington I haven't figure out a clean way to support both api so I'd just open a pull request of `scatter chart` which support the API we are providing - passing all data through an object
[code]
I saw your issue for next version (0.2.0) published, so I think it would be nice to push this up first. Anyway I will be working on it once I have time. Cheers !

[2015-01-25 12:10] yang-wei commented on #28
hey @esbullington regarding to your todo 6) do you have any idea on mind? Refer to [nvd3](http://nvd3.org/examples/scatter.html) examples, "mouse over" will
 * change the color of dots to darker color
 * increase the size of dots
 * show extra informations on tooltips
Since we're only on early stage so do you think that we can implement the first 2 animation(color and size)

[2015-01-25 12:47] esbullington commented on #28
hey @yang-wei that's exactly what I have in mind: the first two things mouse over animations would be great for this release.

Tooltips are more complicated so we can save that for a later release.

[2015-01-25 12:56] yang-wei commented on #28
cool ! I'm willing to take over that =) @esbullington

[2015-01-25 13:25] esbullington commented on #28
That'd be great, @yang-wei  I'm finishing up the legends and also working on automating the build, release and npm publish process a bit more, as well as documentation.

I've restarted the legend several times because I've not been happy with the appearance.  But I think I found a look I like.

I also plan on finishing up the gauge chart before 0.2.0.

[2015-01-25 19:11] berrytj opened #41 "Specifying appearance alongside data in series"
To use piechart as an example:

The API for passing data to a piechart is a list of {label: label, value: value} objects.  I'd like to be able to pass down appearance information, associated with each piece of data.  For instance, in one case I'd like to specify varying opacities for the arcs of the piechart.  There are two ways I can think of to do this:

1) Add an "appearance" field to the data

[2015-01-25 21:29] esbullington commented on #41
Thanks for your comment.

Yes, this type of use case is exactly what I had in mind when I spoke of a [second chart API](https://github.com/esbullington/react-d3/pull/9#issuecomment-66976230) using the `DataSeries` components that are now internal to multiple chart types.  I'll export all the chart components before 0.2.0, including the `DataSeries`.  And then you can use them exactly as they're no

[2015-01-25 23:31] berrytj commented on #41
Okay, that makes sense.  CSS is good enough.  Thanks.

[2015-01-25 23:31] #41 closed

[2015-01-26 19:37] esbullington commented on #24
Hey @yang-wei since you finished the scatter chart and we merged it, I'm going to close this issue now.  If you have any additional questions or comments, please feel free to file another issue.

Thanks again for all your help!

[2015-01-26 19:37] #24 closed

[2015-01-27 11:57] yang-wei commented on #28
@esbullington Hey regarding to the animation, I have question to ask. Because most of our `fill`(color) and `r`(radius) are properties, so one way I can think of is to set up `onMouseOver` event on them, when the event is trigger we'll pass it to the top parent (which i think is `<Chart />`) and re-render them using `setProps()`.

This will be a ugly hack =(　Becasue I have to pass a handler for ea

[2015-01-27 14:38] esbullington commented on #28
@yang-wei You're right.  I think in this case, where we're dealing with strictly local, ephemeral state, using React `state` is OK.  This is the one exception I can think of to my "no React state" rule-of-thumb, as long as we keep the state confined to a single component (no callbacks passed up to parents, for example*).  For the state we'll use to control data frame animations, I want to use an i

[2015-01-27 15:13] yang-wei commented on #28
Yeah this is perfect for me =) I will give it a try when I wake up next morning. Thanks for everything, learned so much today ! @esbullington

Can't wait for your blog post !

[2015-01-27 16:19] esbullington commented on #28
Sounds good @yang-wei  Thanks again!

Also, I may be committing a lot of changes to different components today, so I'd recommend pulling down the changes in the morning before you commit any code.  Or else check and if needed rebase off of master if you've already started work on a feature branch.

[2015-01-28 00:53] yang-wei commented on #28
cool, will check them out @esbullington !

[2015-01-28 06:06] yang-wei opened #50 "Add `dist/public/js/main.js` in `.gitignore`"
Do you have a way to only commit this on *gh-pages* branch ? This file changes so much each time and I think this can make our commits better =)

[2015-01-28 06:09] yang-wei opened #51 "Are you planning to support `es6`"
Because I saw there es6 is set to true in browserify setting :D
[code]

[2015-01-28 12:23] esbullington commented on #50
Hey @yang-wei thanks for the pull request!  I'll be out of my office this morning but I'll take a close look at the PR and your other questions when I get back this later in the morning.

But yes, I agree that we need find a better way to do documentation and example builds, probably by moving that stuff to its own repo.  Right now, the examples main.js has to be checked into git in order to merge

[2015-01-28 19:30] unbracketed commented on #18
I'm not seeing the problem I described any longer, thanks.

Now, during my Gulp build step, I'm getting compile errors (presumably from browserify) like
[code]

but the graphs show up on the page correctly, so not sure what those are about yet.

[2015-01-28 19:30] #18 closed

[2015-01-28 21:12] esbullington commented on #51
Yes, right now you can use any ES6 feature supported by reactify:  arrow functions, rest params, templates, object short notation and classes.  I'm also looking at perhaps adding traceur, so we can have all the ES6 features.

One of my goals is to eventually remove the lodash dependency and use ES5 and ES6 functional features instead.

[2015-01-28 21:13] esbullington commented on #50
Anyway, I agree that this is not a good setup.  I'm going to setting up a separate repo for the website and documentation in the next few days, at which point we can add the build to .gitignore.

[2015-01-28 21:33] esbullington commented on #18
Hmm, did you uninstall react-d3 first and then run `npm cache clean`?  If not, you may want to try that to see if it gets rid of these compile errors.  If not, please feel free to open an issue and we'll try to figure it out.

Also, I noticed you work for a very [interesting company](https://lincolnloop.com/blog/how-we-work-talk/), and one that hires remote workers .  Are you all hiring?

[2015-01-28 23:23] yang-wei commented on #51
Looking forward to this addition @esbullington

[2015-01-28 23:23] #51 closed

[2015-01-29 01:00] unbracketed commented on #18
Thank you for the cache tip, I forgot about that.

The problem was due to a recent change renaming .js --> .jsx. I didn't have Browserify configured to look for the .jsx module extension so it wasn't picking those files up. I assume many people already have this configured; all the files in my project to date have only been using .js.

Send us an email, we'd be happy to get in touch when there's a

[2015-01-29 12:55] yang-wei opened #52 "Color shader method"
Hi @esbullington , I create a new issue for the color shader method which you suggested in #49. What do you think about [this color shader method](http://jsbin.com/direnoqete/3/edit) for the animation method.

[2015-01-29 14:40] esbullington opened #53 "Voronoi tessellation overlay to detect mouseover events"
As I wrote in the other issue,  d3 provides a function `d3.geom.voronoi()` to help generate the Voronoi tessellation path (btw, I accidentally referred to an SVG `rect` instead of `path` in my description yesterday).

Here's the [accompanying documentation](https://github.com/mbostock/d3/wiki/Voronoi-Geom).  I'm looking at the documentation now and trying to figure out how to best use the generate

[2015-01-29 14:41] esbullington commented on #52
Hey @yang-wei this looks great.  If you'd like to go ahead and add this approach to the current PR, I'll merge it.

And then, if you want, you can submit a separate PR with the Voronoi tesselated overlay to detect mouse events that are nearby each datum node.  The Voronoi might be tricky so let me know if it's taking you too long or if there's something you're having trouble with, and I'll do my b

[2015-01-29 14:50] vid opened #54 "Will you support multi types?"
really excited by your project. are you planning to support multiple types (eg line + area, or ideally arbitrary combinations) in one chart? Will this include transitions between types? thanks.

[2015-01-29 15:20] esbullington commented on #54
Thanks for your comment!  In short, yes.  I've got pretty big plans for this library, which includes both simple "pre-baked" charts like you see in the examples, and a collection of well-documented chart primitives that can be mixed, matched, and composed to make custom charts.  And yes, we'll get transitions basically for free.

[2015-01-29 15:29] vid commented on #54
That's excellent. Very glad to hear it.

[2015-01-29 15:36] esbullington commented on #54
Actually, even now you should could mix chart types by taking a look at the top-level component of the chart you're interested in, and require the `DataSeries` component of the chart you want to add to it under a different name (e.g., `LineChartDataSeries`) and then stick it beside the `DataSeries` component of the first chart.

Data frame transitions won't happen until probably 0.4.0 or later, bu

[2015-01-30 13:57] yang-wei commented on #52
I will look at #53 when I have time later. Closing this since you merged it =)

[2015-01-30 13:57] #52 closed

[2015-02-02 02:18] yang-wei opened #57 "Make scatterchart-tests pass"
As you noticed, as we added voronoi to scatter chart, the test failed because now component `<circle />` is no longer listen to any event.

To solve this problem, we can add event listener to circle as we did before
[code]
Personally I like the first method more but it's kind of hacky.

Or another approach is we never let `<circle/>` listen to any events. Just in the test, we use EventEmitter.
Let

[2015-02-02 02:42] yang-wei opened #58 "Reusable method"
Hey, as I'm writing test for voronoid, I realised that there are a few methods I need to reuse. Those methods are

 * concat all data into `allValues`
 * `_calculateScale`

I do think that it's good to factor out this method in `util.js` or as a (mixins)[http://facebook.github.io/react/docs/reusable-components.html#mixins]. I suggest to add another `/src/mixins/` folder so that we can add resuable

[2015-02-02 11:01] esbullington commented on #57
Hey, let's not have `circle` listen to any events.  We can definitely use the `EventEmitter` instance in the tests, exported from the `ScatterChart`. Or just remove those tests altogether.  Whichever of those two options you have time for.

[2015-02-02 11:21] esbullington commented on #58
`mixins` are good if the code you're factoring out needs access to the React components instance (e.g., if it needs to access `this.state` or `this.props`, or if the mixin needs to add a component lifecycle).

Otherwise, just a `utils.js` would be good.  Sounds like in this case probably just a `utils.js` would work.

[2015-02-03 01:17] yang-wei commented on #58
@esbullington  Sounds good. Do you want to take over this or it's ok to let me factor out those reusable code.
I will put them in `src/common/utils.js` =)

[2015-02-03 13:25] esbullington commented on #58
Sure,  you're welcome to if you'd like.  But would you mind putting that in a separate PR from the Voronoi?

But if you don't get to it, I'll remember to factor that out later.

[2015-02-03 18:43] esbullington commented on #54
Since this is on our roadmap, I'm going to go ahead and close this issue.  Please feel free to open another one if you have any other questions/concerns.

[2015-02-03 18:43] #54 closed

[2015-02-03 19:13] vid commented on #54
Thanks. I spent a few moments trying to piece it together but considering the pace of change will wait for a provided demo.

[2015-02-03 22:59] andycmaj opened #65 "Issues including external scripts for use as webpack external dependencies"
Getting a server-side error message trying to render a react component that depends on React-d3.js.

Error:
<pre>
Error while loading &quot;~/scripts/externs/react-d3.min.js&quot;: ReferenceError: document is not defined
    at Script Document [7]:9:29125 -&gt; 3_array=function(list){return d3_arraySlice.call(list)},d3_document=document,d
    at Script Document [7]:13:26437
    at s (Script Docume

[2015-02-03 23:06] andycmaj commented on #65
Forgot to mention, I'm using the V8 Engine. I'll try with MSIE as well.

[2015-02-03 23:32] esbullington commented on #65
I'm not familiar with Webpack, or with React.net.  However, I can tell you by the error message that you're missing `jsdom`, which is a d3 dependency.  In theory, d3 should pull that in if you're using NPM.  However, I believe that there may be some issues with jsdom and Windows, since it may require separate compilation.

Check out the jsdom installation instructions for Windows from the jsdom te

[2015-02-03 23:54] andycmaj commented on #65
Thanks! Sorry actually i meant to post this to the React.NET project :)
but this may be helpful too.

[2015-02-03 23:54] #65 closed

[2015-02-04 04:57] andycmaj commented on #65
Out of curiousity, what's the part of d3 that uses JSDOM that you want to get rid of... maybe I can help.

[2015-02-04 15:25] esbullington commented on #65
@andycmaj Unfortunately, it's a pretty big job: we need to be able to reproduce the SVG axes that are rendered by d3 in pure React.  All the other chart components are in pure React -- d3 is only used most of the time for path and scale calculations.  I'm planning on tackling this for v0.5 (and we're just about at 0.2 now).

But there are a lots of other contributions you're welcome to do right no

[2015-02-04 16:03] esbullington commented on #58
Thanks, @yang-wei I merged that PR.  I moved it from `src/common` to `src` since I'm planning on keeping only React components in the `src/commons` directory.  I'm probably going to make that a separate NPM package soon, something like react-d3-components.  If the `utils.js` gets big enough, we should probably break it out into a `src/utils` directory, or maybe even a react-d3-utils package.

I re

[2015-02-05 01:05] yang-wei commented on #58
@esbullington Thank you for adding me as a contributor, much appreciated. I like the idea of `react-d3-components`. All above are noted.

Yeah this is growing faster than what I thought. Congrats ! Let's keep this go on =)

[2015-02-05 01:05] #58 closed

[2015-02-05 05:16] jmuel opened #70 "Using Dates as Linechart X axis"
Is this currently supported? If it isn't I can see what it takes to make it work and put in a pull request. It seems like it should be fairly easy though since d3 has some built in libraries for this sort of thing.

[2015-02-05 06:31] yang-wei commented on #70
@jmuel  From what I know this is currently supported. You can check the source code [here](https://github.com/esbullington/react-d3/blob/master/src%2Fcommon%2Faxes.jsx#L47). Or you can see the areachart example in the [demo page](http://esbullington.github.io/react-d3/)

[2015-02-05 11:13] esbullington commented on #70
Hi, @jmuel thanks for opening an issue.  Our axes components do support using dates, but I've not yet expanded the `LineChart` component to deal with them (in fact, `AreaChart` is currently the only one that handles dates, but it doesn't handle multiple series yet).  Let me look at how to handle this, since it's going to require special casing in multiple components.  I'll try to fix this in the n

[2015-02-05 13:49] rrag opened #72 "Zoom and pan on charts"
I am working on something very similar focused on charts for stocks. I had made some progress and wanted to open source it and came across your work, this is very exciting as it follows the very same technologies.

My work is far from complete so it will be prudent to contribute here rather than open a new project for my work.

Check out what I have done here.
http://react-charts-d3.s3-website-us-

[2015-02-05 16:24] yang-wei commented on #72
wow I'm so excited with this addition @rrag ! Great work

[2015-02-05 16:57] esbullington commented on #72
Hi @rrag that looks fantastic!  Well done!  These would be a fantastic addition to react-d3, and I'm pleased that you'd consider adding them.

We definitely should join efforts and try to factor out as much of our mutual code as possible to lower-level components, which anybody can then mix and match as needed.

It looks like although you use Bootstrap, jQuery, Font-Awesome, and other libraries fo

[2015-02-05 19:37] rrag commented on #72
That is right, my vision is once React-d3 has the features needed for my app, I will start using it as a bower dependency. I am also using Reflux.js as a means to send actions and listen to changes from a store, but that would be logic on my app and I don't think it should be included in React-d3

yes I have tool tips as

    <svg:text>

I feel that this made my work easy but if you need a floatin

[2015-02-05 22:00] esbullington commented on #72
@rrag the more I've thought about it, the more I think that maybe your charts would best go in a specialized react-stockcharts library.  Then, we can both collaborate on a react-components library that contains the basic chart components we're both using.  In particular, we should collaborate on a pure React axes component that we can use in both of our libraries.

After thinking about it some, I

[2015-02-06 01:37] yang-wei opened #74 "Test chart components with class instead of tag?"
When I added voronoi to line chart, the test failed because voronoi and the interpolate path both use `path`. What if we add `className` to each component explicitly and make use of that to test each component.

[2015-02-06 03:46] rrag commented on #72
@esbullington I would agree, stock charts are a more specialized case of charts. I have not seen the MetricsGraphics earlier, and it is interesting to see how they have handled mouse hover of the chart.

I will create a separate stockcharts project on github and add my work there. I will my work on candlesticks over this weekend and send a PR after that.

What do you think of my suggestion to havi

[2015-02-06 13:23] esbullington commented on #74
Sure, as long as the class name is set on `getDefaultProps` in the components, I think it's fine.

[2015-02-06 14:14] esbullington commented on #70
@jmuel I'm thinking of the most flexible tick label interface I can offer users, and yet still avoid having the chart components full of special casing.  What do you think about having something like:
[code]
With this approach, we're always passing in numbers, specifically seconds since the UNIX epoch, and not date objects.  So how to get the labels we want on the axis ticks?  Well, by putting a f

[2015-02-06 14:20] esbullington commented on #72
If you take a look at our charts, that's exactly what we've done.  The example you provided is almost an exact mirror of how we do our charts, with `Axix` and `DataSeries` subcomponents.  And yes, these are the exact components I'd like to put in react-chart-components, so we both can use them.

[2015-02-06 14:22] esbullington commented on #70
The main downside I can think of to this approach is that it doesn't account for things like leapyears and daylight savings if you're displaying dates as a long, uniform continuous series.  But at the savings of significant complexity for our library.

[2015-02-06 16:03] #72 closed

[2015-02-06 16:47] jmuel commented on #70
Yeah, this seems like the easiest way to do it while still solving most of the problems.

[2015-02-06 19:01] esbullington commented on #13
This is merged, and will be in our next release. Thanks again for filing the issue, @songgao As you are familiar with dataviz, I'd love to have your continued input.  I'm still thinking about your other issue #14 , which brought up using seriesname mapped to dataseries array vs multidimensional array for data.  The underlying `color` issue is definitely a bug, but not sure how I want to go about f

[2015-02-06 19:01] #13 closed

[2015-02-06 19:23] esbullington commented on #14
Still thinking about this one.  @yang-wei what do you think? Should we move our data format to a multidimensional array instead of a series name mapped to data series array?  If we do move, then that means users will have to manually a series name for each nested array.  Hmm, I don't know.

If you look at how the [Vega visualization grammar does this](https://github.com/trifacta/vega/wiki/Tutorial

[2015-02-08 00:40] #74 closed

[2015-02-08 00:40] #53 closed

[2015-02-08 07:50] yang-wei commented on #14
@esbullington  I think keeping the current api is good for now.

 However, the ideal approach will be *additional* data support like proposed in #24.
[code]
But making this changes will require some works and time. Hopefully this can be made in v0.3.0 or v0.4.0.

Since we want to let users plot data as fast as possible, we should keep next publish simple. The easiest way to provide immediate suppo

[2015-02-09 02:04] songgao commented on #13
Thanks @esbullington for getting it merged! The legends looks great!

[2015-02-09 19:38] esbullington commented on #50
Hey, @yang-wei Done.  The website builds now to the ./build directory, which is in .gitignore.  When we want to publish a new version of the site, I'll just manually copy it to react-d3-website.

[2015-02-09 19:38] #50 closed

[2015-02-09 19:44] esbullington opened #81 "Custom x and y accessors"
We've been kind of assuming people will use `x` and `y` as the names of their respective data names, which is pretty inflexible.  We should probably let them specify a custom x and y accessor.  So, they could do something like:

`<Chart x_accessor="event_dates" y_accessor="event_values" />`

And then instead of using `point.x` and `point.y`, we'd use `point.[props.x_accessor]` etc.

Does this soun

[2015-02-10 03:47] frederickfogerty opened #85 "Charts with more than two dimensions"
Hey,

I'm looking at creating a new chart (very similar to a candlestick graph) which happens to have four dimensions - something many utils currently do not support.  This will be a common occurrence, as graphs will map a dimension to many things e.g. colour, size

My solution in my personal work was to express data as an array, not an object. This allows any number of dimensions to be used by an

[2015-02-10 04:07] yang-wei commented on #50
Thank you for your hard work. Appreciate this

[2015-02-10 04:09] yang-wei commented on #81
Yeah this sounds true. Same thing for label and value too ?

[2015-02-10 04:14] yang-wei opened #86 "Add animation(optional) to bar, treemap and pie charts"
Will complete this once I have time. Will open a pull request for each chart type

[2015-02-10 12:16] esbullington opened #87 "Change all instances of `color` (singular) to `fill`"
We have some instances of `color` where it should be `fill`.

This isn't to be confused with `colors`, the plural noun, which takes a function that returns a color based on index (maybe we need a better name for that property).

[2015-02-10 13:40] esbullington commented on #85
Hi, thanks for your input, and for the compliment -- greatly appreciated.

Regarding new data formats, I'm already in the process of moving everything over to a format that looks like this:
[code]
The reason I'm moving to this format is twofold:
1.  It will allow us to leverage a lot of d3's utilities that are based on dataseries having an index.
2.  It's the same data format used by the [Vega vis

[2015-02-10 13:41] esbullington commented on #85
Argh, hit return too early.  I'm still editing the comment above.

[2015-02-10 13:47] esbullington commented on #86
Sounds good.  I'm going to tag this as v0.3 since the v0.2 release is just about ready.

[2015-02-10 23:35] frederickfogerty commented on #85
Thanks for the thorough response, much appreciated. I do like the data series approach - I might implement this in my internal work and then submit it as a PR so you can merge it when this becomes the standard.

I'm in the process of upgrading the tooling (`flattenData`) to work better with multidimensional data, and will submit a PR when I'm done, so we can see if we are on the same track.

Regar

[2015-02-12 21:38] rrag opened #89 "Candlestick chart"
I am getting started on this, few questions; please share your thoughts

1.   The data format will be

        [
            { name : "open", values : [ {x : ..., y : ... }, {x : ..., y : ... }, {x : ..., y : ... }, {x : ..., y : ... } ] },
            { name : "high", values : [ {x : ..., y : ... }, {x : ..., y : ... }, {x : ..., y : ... }, {x : ..., y : ... } ] },
            { name : "low", val

[2015-02-12 22:25] frederickfogerty commented on #89
I would've thought the data would have been in the format

    [
        {name: 'Series 1', values: [ {x: ..., open: ..., close: ..., high: ..., low: ...}, ... ]},
        ...
    ]

but that's just my $0.02

[2015-02-12 22:37] rrag commented on #89
duh...

that makes a lot of sense, so we can have another series, which can be say volume or a moving average. Thanks.

[2015-02-12 22:38] frederickfogerty commented on #89
Better double check with @esbullington first. Also might look into his new data format ideals, see #85 and #82.

[2015-02-12 23:21] esbullington commented on #89
Yes, I think @frederickfogerty proposed data format is good.  I mean, I rarely see multiple series in candlestick charts, but it fits out existing data format better (which is now in the v0.2.0 branch, I'll merge it to master in the next day).

Oh, and would you mind using colors from the `d3.scale.category20c()` palette as the default colors?  Unit tests would also be great but if you don't have

[2015-02-12 23:22] frederickfogerty commented on #89
@esbullington excited for native React axes!

[2015-02-12 23:28] rrag commented on #89
:thumbsup:

[2015-02-13 12:26] esbullington commented on #85
Thanks again @frederickfogerty merged with 0.2.0 release.  Please feel free to open a new issue if you have any more ideas / concerns, etc.

[2015-02-13 12:26] #85 closed

[2015-02-13 12:28] esbullington commented on #81
Done for x and y accessors.  I'm still thinking about label and value accessors.

[2015-02-13 12:28] #81 closed

[2015-02-13 12:29] esbullington commented on #28
Merged in #88.

[2015-02-13 12:29] #28 closed

[2015-02-13 14:41] rrag commented on #89
I merged from v0.2.0 and made some progress, check out my fork when you get a chance. where do you see the colors from `d3.scale.category20c()` being used?

will add the tests and send a PR

[2015-02-13 14:56] esbullington commented on #89
Hey @rrag great I'll check the fork as soon as I can.   The colors from `category20c()` are [here](https://github.com/mbostock/d3/wiki/Ordinal-Scales#category20c).  However, note that you can create a function by doing:

    var colors = d3.scale.category20c();

And then whenever you call `colors` with an index, it returns the corresponding color from that palette.  So if you're mapping over an ar

[2015-02-13 16:19] esbullington commented on #89
Hey @rrag looks great!  I haven't gotten a chance to review the code very carefully yet, but the chart itself is great!

Looking forward to your PR! Before you submit it, you'll probably want to either rebase off of master or merge, whichever you prefer.  Since it's a new chart altogether, a merge may be more straightforward.

Please let me know if you have any questions/concerns.

[2015-02-13 16:45] rrag commented on #89
I did not explain my question about `d3.scale.category20c()` well. we have 2 colors in each candlestick series, one where close > open and other when close < open, currently I am defaulting to green and red respectively. Using a color based on the index of the series gives only one color per series, while we need 2 in this case. Some candlestick charts also use hollow ( `fill : none;` ) to indicat

[2015-02-13 17:27] esbullington opened #96 "Error checking"
Error checking is an issue in some of the charts.  Need to make sure we properly handle empty arrays, missing values, wrong types, etc.  Also need to add more tests to test this error handling.

[2015-02-13 17:29] esbullington commented on #14
Hey @songgao we moved to an array format for each data series, so you can pass in index-based palette functions now for the series.  Please give it a try if you get a chance and let me know how it's working.

I'm closing this for now, please feel free to open another issue if you can think of one.  Thanks!

[2015-02-13 17:29] #14 closed

[2015-02-13 20:23] esbullington commented on #89
Understood.  I think a nice effect would be to default to `none` for `fillUp`, like you're suggesting, along with a default of `d3.scale.categoryc()` for the `fillDown`.  The reason I wanted to stick with a single d3 palette per chart is not just for aesthetics (although it's nice) but also because these palettes are designed to be high contrast and so easily distinguishable among  series.  If we

[2015-02-13 20:52] esbullington commented on #85
Hey @frederickfogerty I had to remove your `flattenData` function from utils/index.js since it couldn't handle array accessors.  One of the main reasons I moved to accessors for x and y values was to be able to accomodate nested array data.

If you can add support for array accessors, I'd be happy to add it back.  When added, we also need to document it since otherwise people won't know that the a

[2015-02-14 03:25] jmuel commented on #70
I'm just checking in to see if the work has been done for this. If it hasn't I can take a stab at getting it working like you described.

[2015-02-14 12:50] esbullington commented on #70
Yes, it's supported, at least in the multi-series charts, including `LineChart`.  I forgot to close the issue.

I ended up supporting passing in dates directly, instead of just a formatter (although I'm going to support that soon, as well).  For more, see:

https://github.com/esbullington/react-d3/wiki/Dates

The only chart that doesn't support dates and where dates might make sense is the `BarCha

[2015-02-14 13:05] yang-wei commented on #96
Although not related to this, I noticed that in our prop validation, we do declare the type of data (such as `array`, `func`) but we can make it more clear by adding `isRequired`.

[Reference](http://facebook.github.io/react/docs/reusable-components.html#prop-validation)

Can't really follow all the updates now(busy month) but will surely check it our when I have time. Congrats on the release.

[2015-02-14 13:23] esbullington commented on #70
@jmuel I did want to mention that I haven't yet tested the dates support much, so please let me know if you find any issues -- that would be a big help.

[2015-02-14 13:38] esbullington commented on #96
Hey, glad to hear from you, @yang-wei  Understood about your busy month -- we'll look forward to seeing you more in March, if things slow down for you then.

And I agree that we could be taking better advantage of the `isRequired`.  I'll try to remember to add that to all the charts.

Thanks again for all your help with the 0.2 release!

[2015-02-14 13:43] yang-wei commented on #96
@esbullington Oops I deleted my comment because I saw you actually did that in some places like `axes.jsx`. Yes I will be back soon =)

[2015-02-14 17:56] jmuel commented on #70
Sure, I played around with it and it's showing time in milliseconds since the Unix epoch instead of a human readable format.

[2015-02-14 18:03] esbullington commented on #70
Thanks, did you use an `xAccessor` to turn the Unix epoch time to Date format?  If so, can you show me your exact code, please?

[2015-02-14 18:59] jmuel commented on #70
I tried using the xAccessor.

Here's the [project](https://github.com/jmuel/PokemonVisualizer) I'm working on.

specifically, [the chart creator](https://github.com/jmuel/PokemonVisualizer/blob/master/js/Components/UsageChart.jsx) and [the data](https://github.com/jmuel/PokemonVisualizer/blob/master/js/Services/PokemonDataService.js). I'm trying to follow your second example here (https://github.c

[2015-02-14 19:17] esbullington commented on #70
Oh, you need to specify the `xAxisTickInterval`.  I just put that example up, and forgot to include that property.

So you'd add something like:

`xAxisTickInterval={{unit: 'year', interval: 2}}`

or whatever you prefer.

Does that work?

[2015-02-14 19:41] jmuel commented on #70
Hmm, still isn't working. I'll see if I can do something simpler to test it.

[2015-02-14 21:06] jmuel commented on #70
I just cloned your project and tried to run npm run-script build but it works on the assumption that you have jsx installed globally. If it isn't installed globally it will fail. I tried installing it and rerunning but I'm getting an "unknown option: --harmony" error. These are acting as hidden dependencies and keep me from just downloading, hitting npm install and having a working system.

[2015-02-14 21:09] frederickfogerty commented on #70
I had the same thing when I downloaded. You need to install react tools over the top of jsx.

npm i -g react-tools

But yes, the dependencies should be listed.

On Sun, Feb 15, 2015 at 10:06 AM, jmuel <notifications@github.com> wrote:

[2015-02-14 21:16] jmuel commented on #70
Thanks, that got it working.

[2015-02-14 21:21] esbullington commented on #70
OK, I  see what happened.  You're formatting your dates two times: once in your data object, and then again in the xAccessor.  The easiest solution is probably to remove the xAccessor (the default xAccessor gets the `x` property, so it should work without an accessor in your case).

But in the future, I'd recommend not doing that in your data -- keep it as pure data, preferably as a CSV or JSON fi

[2015-02-14 21:25] esbullington commented on #70
@jmuel you were also pulling in version 1.8 -- you hadn't yet updated to 2.0.  Once I updated and removed the double accessor (and stuck the data directly in the component), it rendered no problem.

And jsx isn't a hidden dependency to the actual `react-d3` package.  It's compiled to pure Javascript for the npm release.  JSX is only required for the development build.

[2015-02-14 21:36] esbullington commented on #70
Actually, you may have pulled in 2.0, I see you had a caret.  But the double formatting was preventing it from rendering.

[2015-02-14 21:57] esbullington commented on #70
@jmuel did you get this working?  If so, I'm going to go ahead and close the issue.

[2015-02-14 22:02] jmuel commented on #70
I'm actually running into an issue with "Uncaught TypeError: Cannot read property 'forEach' of undefined" in line 64 of utils/index.js but there's a good chance I just messed something up when changing my data around. I'll let you know when I have it all worked out.

[2015-02-14 22:32] jmuel commented on #70
Ok, I set up your docs page and the functionality works. The problems I'm having are in my own project. Go ahead and close it, everything's good now.

[2015-02-15 09:22] esbullington commented on #70
Thanks, please let me know if you have any more issues.

[2015-02-15 09:22] #70 closed

[2015-02-15 09:48] yang-wei opened #105 "Contributing notes regarding build steps"
I reinstall node by using nvm, so of course `npm run watch` fails and it took me a while to look at the build steps.  Will be great it all of these are written in CONTRIBUTING.md.

Leaving this issue opening now. Will these notes in `CONTRIBUTING.md` within this week if no one does.

[2015-02-15 10:40] esbullington commented on #105
Thanks for letting me know.  Would you mind trying again when you get a chance?  You should be able to just run `npm install` and then `npm run watch` and everything just work now.  Between jmuel's PR and mine, I think we fixed any issues.

You'll get warnings about `react-tools` and `karma-cli` being global installs, but there is no way to avoid those if you want them to be install automatically.

[2015-02-15 11:18] esbullington commented on #105
I also [left a note](https://github.com/esbullington/react-d3/wiki/Development) in the wiki, which I refer to now in `CONTRIBUTING.md`.  Do you think this make everything clear?

[2015-02-15 12:46] yang-wei commented on #105
Yes it does. And your latest commit should fix them. Will reopen this if there is any problem. Thanks ! @esbullington

[2015-02-15 12:46] #105 closed

[2015-02-15 17:32] rrag commented on #89
Thanks, I have gone ahead and used both `fillUp` and `fillDown` properties to the `CandleStickChart`. `fillUp` defaults to `white`. `none` wont work because it will create a no fill rectangle and the wick behind it is visible.

I also had to update the `utils.flattenData` to handle the condition where `yAccesor` returns an object (like `{open:... , high:... , low:... , close:... }`)

Like before p

[2015-02-15 17:40] rrag opened #109 "Alternate build script"
I had to use windows for a few days and the `npm run build` and `watch` do not work on the windows version since `mkdir -p` does not exist on windows cmd and the `mkdir` command returns an error when the directory already exists aborting the `npm run ...`. It spent too much time than I cared to on that problem and had to give up after some time.

I can create a gulpfile.js for the current build an

[2015-02-15 18:42] esbullington commented on #109
Hey @rrag I'm sorry you had to spend so much time on it.  jmuel and I made some improvements to the build script today but I didn't realize the `-p` flag on `mkdir` didn't work on Windows.  I was definitely aiming for cross-platform commands.

Ideally, I'd like to just use a `Makefile` but I know that there are cross-platform issues there, too. And if I'm accepting contributions from devs working

[2015-02-15 19:36] esbullington commented on #89
Hey @rrag looks great!  Could I ask you to maybe move your flatten data function to something like `flattenObjectData` and then restore the old one to `flattenData`?  The old version supports array accessors(ie, `(d)=>d[0]`), which a lot of people use in d3.  And I'm using nested array data in one of the examples, which the new version breaks.

Alternately, you could special case nested arrays in

[2015-02-16 00:28] jmuel commented on #109
I actually prefer Gulp as well. Just using NPM scripts is nice when things are simple but even in this project so far we've had issues with globally installed react-tools and not maintaining aliases, both of which are hard problems to have with Gulp. I'd really appreciate this.

[2015-02-16 00:40] jmuel opened #111 "Array Values causing issues"
The code I'm referencing is in utils/index.js.

`  data.forEach( (series) => {
    series.values.forEach( (item, idx) => {`

`series.values` appears to be an es6 addition to Array. When I build charts that use it in the docs it works fine but my personal project gives an error on this saying that series.values is null. This was changed in commit (32c5b7)[https://github.com/esbullington/react-d3/co

[2015-02-16 01:35] esbullington commented on #111
I didn't have es6 in the watchify command.  I'm about to push out a fix right now.  Can you check if that works for you?

[2015-02-16 01:48] esbullington commented on #111
By the way, not sure if your issue was formatted properly, but if you're asking about `series.values`, it's just a regular JS object `series` with a `values` key pointing to an array of data points.  It's the project's standardized data format now, as inspired by the [Vega visualization grammar](http://trifacta.github.io/vega/).

[2015-02-16 02:18] jmuel commented on #111
I see the issue. I was still looking at (the documentation)[http://esbullington.github.io/react-d3/] which shows the data like this:
`var lineData = {
  series1: [ { x: 0, y: 20 }, ... , { x: 6, y: 10 } ],
  series2: [ { x: 0, y: 8 }, ..., { x: 6, y: 2 } ],
  series3: [ { x: 0, y: 0 }, ..., { x: 6, y: 2 } ]
};`

when it should actually be like this:

`var lineData = [
      {
        name: 'series

[2015-02-16 02:24] rrag commented on #89
I see. The tests are broken, I should have run them first.

I am not going to create a new method for this as I don't see a need for it, I just made a change to include a check for `y` to be `typeof` `object`. Will send a PR with the fixes and tests soon.

[2015-02-16 02:27] rrag commented on #111
How did you get to that link? the readme is updated and the documentation is now at

http://esbullington.github.io/react-d3-website/

may be there is a link to the old documentation from somewhere which needs to be fixed.

[2015-02-16 02:29] jmuel commented on #111
It's in the main Readme.md. Under "Basic Usage".

[2015-02-16 02:31] esbullington commented on #111
Thanks, if you want to send an updated link in the README, that would be great.  I'm off to bed now, so I'll merge it in the morning.

The only place I know of that's still linked to the old site is the NPM page, but that will change as soon as I publish the next release with the updated `package.json`, which already has the new site listed.

[2015-02-16 02:31] esbullington commented on #111
I mean to write "The only *other* place".

[2015-02-16 05:06] frederickfogerty commented on #85
Hey, I was looking at this, and was wondering how mine didn't allow array accessors? If accessors are defined, my code executes `accessors[dimension](item)`, and the existing code executes `xAccessor(item)`. Since `accessors.x = xAccessor` this shouldn't produce different results.

It could've been to do with the following code:

    var accessors = (typeof xAccessor === "object" ? xAccessor : {})

[2015-02-16 10:28] yang-wei opened #115 "Semantic chart className"
Let's decide standard `className` for each components(or chart) in this library. Would be useful for documentation and tests in the future. The prefix for className I would like to proposed is `rd3`(you guessed it). So every main chart would have at least a `className` on the parent component at their `g` element (child of `svg`).
[code]
So other charts' `className` will look like `rd3-barchart`,

[2015-02-16 12:30] esbullington commented on #111
Thanks, @jmuel  I'm closing this since your PR fixed it, if I'm not mistaken.  Please feel free to open another issue if I'm wrong.

[2015-02-16 12:30] #111 closed

[2015-02-16 15:02] esbullington commented on #85
It's because it's the `xAccessor` you need is defined as `accessors.x` but it's being accessed as `accessors["0"]` in the following ternary expression:

[code]

Because `Object.keys` iterates through the nested array by number index (coerced to string), and not by the object properties you need.

[2015-02-16 15:24] esbullington commented on #115
Yeah, this is definitely needed.  I agree with your namespacing scheme (and yes, I think we go ahead and add `-chart` to the chart `className`).

Do you want to do this @yang-wei?  I know this is a busy time for you.  If not, I'm sure me or someone else can pick it up in the next few days.

Also, let's also add this to the [developer documentation](https://github.com/esbullington/react-d3/wiki/Dev

[2015-02-16 16:28] yang-wei commented on #115
Perfect, if no one is doing this before this coming weekend, then probably I can do it =)

To clear this up, you mean the `className` of barchart will look like `rd3-barchart-chart` while treemap will look like `rd3-treemap-chart`. How about we just keep them shorter like `rd3-barchart`.

[2015-02-16 19:10] jakepusateri opened #116 "Example data for line chart is out of date"
http://esbullington.github.io/react-d3/ has example data for the line chart, but this data causes an error. Uncaught TypeError: Cannot read property 'forEach' of undefined. This appears to be because the data input format has changed.

[2015-02-16 19:14] esbullington commented on #116
Thanks @jakepusateri That's a link to the old documentation site -- I need to just take it down.  It's updated with the [new site](http://esbullington.github.io/react-d3-website/) at the top of the Github site, but the NPM site still has it up because I've not yet published a new release since I updated the website in the package.json (this has all been the past 3-4 days).

Anyway, I'll leave this

[2015-02-16 19:23] esbullington commented on #116
OK, I think I have everything updated now, and the old `gh-pages` branch on this repo is deleted.  Thanks for the issue!   Please feel free to open another if you find anything.

[2015-02-16 19:23] #116 closed

[2015-02-16 19:43] esbullington commented on #89
@rrag I'm closing this issue since your candlestick chart is merged.  Please feel free to open another one if you have any other concerns about it.

[2015-02-16 19:43] #89 closed

[2015-02-16 21:12] frederickfogerty commented on #85
Ahhhhh, I see the issue. I'll try get this working tonight, I'm all for making everything generic.

[2015-02-16 21:48] rrag opened #117 "clipPath for charts"
Looking at some of the examples `LineChart`, `ScatterChart`, `CandleStickChart` these have the `circle` or `rect` at x origin bleeding into the left of the y axis. We need to either add a

[code]

to the SVG and apply that clip to the `g` element where the chart is drawn to avoid the bleeding.

or

Move the y axis a little to the left so does not start at x origin

what do you think is the right s

[2015-02-16 23:44] yang-wei commented on #117
Yes that will be the right solution but currently `clipPath` is [not supported](http://facebook.github.io/react/docs/tags-and-attributes.html#svg-elements) by React.

So the hacky solution of moving the y axis can be considered.

[2015-02-17 00:29] yang-wei commented on #115
Please have a look at my [draft](https://github.com/esbullington/react-d3/wiki/Development#chart-classname)

[2015-02-17 11:16] rrag commented on #109
why do we need this

`jsx --harmony -x jsx src build/cjs && jsx --harmony src build/cjs`

portion of the `release`?

Can I skip that step and just generate `react-d3.js` and `react-d3.min.js`

[2015-02-17 13:52] esbullington commented on #117
I see what you're talking about.  However, sometimes this is intended behavior. I see it in scatter and line charts in other chart libraries, including Metricgraphics, Highcharts, and nvd3 (on mouseover).  More importantly, it capture the state of the data correctly (ie, that datum/data is at the x origin).

That said, I think people should be able to alter this behavior if they want.  There are t

[2015-02-17 14:01] esbullington commented on #117
Oh, and another easy way to solve that problem is to remove the line altogether, and just leave the ticks.  You can do that now with CSS, and if I hadn't screwed up the `strokeWidth` property in the axes, you could do it in React.  I'll fix that as soon as I get a chance.

[2015-02-17 14:07] esbullington commented on #115
Looks great, @yang-wei

[2015-02-17 14:09] rrag commented on #117
it is correct that the clip path property is not supported in react, I was able to achieve it in my work by adding an inline style to the `<g>

look at candlestick in
http://react-charts-d3.s3-website-us-east-1.amazonaws.com/dist/index.html

About #2, The way I did it is have a `yAxisAt={...} orient="right"` and pass the chart width + 10 so the axis is on the right side, I could also do `yAxisAt={

[2015-02-17 14:09] srcspider opened #119 "docs should clarify implementation direction"
Is this React components that have hacked-in d3
-or-
Is this fully rendered React components with only d3 utility data functions (no d3 rendering)

This make a lot of difference when delaing with server side rendering since having pure react rendering makes everything simpler; no dom emulation nonsense involved.

[2015-02-17 14:26] srcspider opened #120 "allow for individual component requires"
Currently this is the recommended way of including react-d3,
[code]
While convenient it adds a lot of unnecessary bloat. Even if I'm maybe using all of them on the site I may only be using one or two per page, so loading all of them into every page is unnecessary bloat.

Another issue with this approach is that it doesn't scale up well. The more charts/etc are added the bigger it grows. Not very g

[2015-02-17 15:54] yang-wei commented on #119
@srcspider  Thanks for asking. Couldn't agree more with you that these 2 make a lot of differences and we are also trying our best to render our components purely with `React`.

If you look at our code, most of our components are rendered by `React` but we do have some problems to achieve the same thing for component like `axes`(xAxis and yAxis). However, we do realise this issue. if you look at o

[2015-02-17 16:05] esbullington commented on #120
This is a good point.  Your alternative approach is actually possible now, by doing this:

    var BarChart = require('read-d3/barchart').BarChart;

The reason you can't just do:

    var BarChart = require('react-d3/BarChart');

is because the barchart module contains several constituent components, all of which I export so advanced users can't make their own charts as they wish (this is why I do

[2015-02-17 16:08] esbullington commented on #119
Hey @yang-wei I've just about finished the React axes, so no need for PR there.  At that point, project will be purely React rendered.

[2015-02-17 16:10] yang-wei commented on #119
Ahh @esbullington that is cool !

[2015-02-17 16:17] yang-wei opened #122 "Treemap or TreemapChart"
Was thinking about this a while ago. Thought it would be nice to have every chart components' name look like `...Chart` but when I look at the [wikipedia page of charts](http://en.wikipedia.org/wiki/Chart) , tree map is just called tree map. Instead of tree map chart.

@esbullington What do you think ?

[2015-02-17 16:19] rrag commented on #119
exciting... I can't wait to try it.

[2015-02-17 17:49] esbullington commented on #109
@rrag We need that portion of release because I need to compile the JSX files into pure JS files in their own package directory, which I then use to publish.  The directory is `build/cjs`.  The resulting build in that `build/cjs` directory is the definitive build that I publish to NPM. The react-d3.min.js is just for the JSFiddle, it's got React and d3 both packaged in (haven't been able to get a

[2015-02-17 17:57] esbullington commented on #109
We don't want to publish the NPM package from anything like an aggregated react-d3.min.js that's not since we want people to be able to `require` the charts separately.  Plus that react-d3.min.js build is a standalone build not meant to be published to npm.

And the reason I have to run the jsx twice is because the command doesn't accept multiple file extensions, and I like differentiating pure JS

[2015-02-17 18:02] rrag commented on #109
got it.

I can add a step to create the `.js` files from `.jsx` using some plugin, need to spend some time to figure out the right plugin.

Good to know, I know the options to fix that, I can modify the gulpfile to take `react` and `d3` as `external` and then have a `browserify-shim` configuration in `package.json` where I say

`react: "global:React"`,
`d3: "global:d3"`

The `watch` task now takes

[2015-02-18 11:55] srcspider commented on #119
@yang-wei awesome!

One other nit pick. at the moment the package is depending on the entire d3, but if you're rendering in react then you may, depending on what you're rendering, potentially only really need d3 scales (sometimes d3 svg utilities). In fact depending on what you're trying to do you don't even need ALL the scale functions. The source for d3 has them nicely separated into files so te

[2015-02-18 14:09] esbullington opened #126 "Pure React axes"
I've got a working branch with pure React axes that I'll be pushing out soon (still having issues with text rendering not looking like the original d3 axes) but in the meantime I'll use this issue to track it.

[2015-02-18 14:16] esbullington commented on #119
Thanks for your comments.  As you point out, this last issue is out of our control, although we'll happily work with whatever solution Mike comes up with for d3.  If they choose to stick with SMASH, I may create a build with only the parts we need.  Otherwise, if they adopt commonjs, I'll be sure to only require relevant modules.

Your original comment will be addressed with pure React axes in the

[2015-02-18 14:16] #119 closed

[2015-02-18 14:17] #120 closed

[2015-02-18 14:18] esbullington commented on #122
Hey @yang-wei I think it's fine as it is for now.  If it appears to be confusing people then we can revisit the issue.

[2015-02-18 14:18] #122 closed

[2015-02-19 11:46] frederickfogerty opened #127 "Is the pub-sub system necessary?"
I think not.

[From the React Docs](http://facebook.github.io/react/tips/communicate-between-components.html):

The current pub-sub system is included for what I can only assume is convenience. The reason I am requesting to remove it is that I am trying to stop the Voronoi events from triggering when the user is brushing (I have Voronois and brushes working together), and having a pub-sub system m

[2015-02-19 11:47] frederickfogerty commented on #3
I'm working on this for internal prototypes, I should be able to open-source it to this library when I'm done (soon, before v0.5 at least).

[2015-02-19 20:56] jxnblk opened #128 "Setting SVG viewBox attribute"
Maybe I've missed how to do this, but it seems like it would be useful to have the `viewBox` attribute for SVG set by default or through props for use in fluid layouts without the need to listen to window resize events. I know this would also scale text used in titles and labels, but it would still be helpful in certain situations.

[2015-02-19 22:22] esbullington commented on #127
Are you passing props and using Flux?  You had mentioned Flux before.  And unless you've made significant changes to the structure, the Voronoi overlay is a sibling component to the data series it interacts with, not parent-child.

Passing around callbacks rapidly up and down the component tree becomes a pain in larger React apps -- I've tried it.  Just like plain pubsub, it's OK for a few communi

[2015-02-19 22:24] esbullington commented on #127
By the way, to be clear, the pubsub system was never meant as a permanent solution, just a quick way to get up a Voronoi overlay.  We may be at the point with brushes as well as tooltips where we need to move to a permanent solution, even before 0.5 animations like I had planned.

[2015-02-19 22:41] esbullington commented on #128
This is an excellent point.  We can set the `viewBox` and let the chart user set the parent component's width and height.  That should work well.

Only possible issue is IE9+.  Seems like I remember some cross-browser issues with `viewBox` that have made me just use resize events in the past.

Either way, I'll definitely expose it to the user.

[2015-02-19 22:41] esbullington commented on #109
I'm closing this one since the Gulp build system was merged.  Well done, rrag!

[2015-02-19 22:41] #109 closed

[2015-02-19 22:43] esbullington commented on #126
If anyone would like to take a look at `esbullington-features/pure-react-axes` and take a guess as to why the text in my React axes is not rendering as smoothly as d3's, I'd be much obliged.

[2015-02-19 22:48] esbullington commented on #117
@rrag, I'm all for passing in something like `yAxisAt`.  But here's a question: what do you think about namespacing the props we're passing in, for example:

[code]

Then we can use it in the child component using es6 [rest parameter](http://ariya.ofilabs.com/2013/03/es6-and-rest-parameter.html) that I'm already using in react-d3.

We're making so many `xAxisBar` and `xAxisFoo`  that I'm concerned

[2015-02-19 22:52] rrag commented on #109
Sure. I was thinking about adding a `gulp publish` task also.

https://gist.github.com/bevacqua/8492639

but I am not too thrilled with it since it is spawing a child process

[2015-02-19 23:03] rrag commented on #117
I am thinking
[code]

and the default will be `{x: chartHeight, y: 0}`

why do you see this is as a breaking change? I am not sure I understand that.

[2015-02-19 23:05] esbullington commented on #109
Thanks but I'd prefer to do the publish manually, since I like to go and check the compiled code before I hit publish (paranoia after I accidentally published jsx code once, and es6 code another time, both times quickly corrected).

I may add npm scripts that point to the appropriate gulp commands, since that's what my fingers are used to doing.  But I'll take care of that.

Browsersync is cool, I

[2015-02-19 23:08] frederickfogerty commented on #127
I'm gonna go ahead and PR my code when it's finished then

[2015-02-19 23:09] esbullington commented on #117
I'm proposing changing all the `fooAxisBar` commands to a single `axis` command, that's an object containing all the other commands.  That's how the API of most larger chart libraries works.

But in fact, I'd probably just deprecate them, and then remove them in another version or two.  In any case, it's not like I've documented much of this yet (to my chagrin, documentation is very much a priorit

[2015-02-19 23:17] frederickfogerty commented on #126
Looks fine, if not identical, to me. Checked on both retina and non-retina screens.

[2015-02-19 23:19] frederickfogerty commented on #126
Before:
![screenshot 2015-02-20 12 18 03](https://cloud.githubusercontent.com/assets/615334/6278289/b3a91f76-b8fa-11e4-9ebb-4667daab653d.png)
After:
![screenshot 2015-02-20 12 18 26](https://cloud.githubusercontent.com/assets/615334/6278290/b3cc969a-b8fa-11e4-9274-e1dc9bb8d5b3.png)

[2015-02-19 23:41] esbullington commented on #126
Thanks for checking that, much appreciated.  I think I got it matched now by decreasing the stroke width a little more.

[2015-02-20 03:22] esbullington commented on #126
Done and merged.  Thanks for checking that, @frederickfogerty

[2015-02-20 03:22] #126 closed

[2015-02-20 11:44] rrag commented on #117
got it. I am closing this issue now, since clipPath is not supported by react and the axisAt is coming in the future.

[2015-02-20 17:27] jxnblk commented on #128
Great, thanks! :boom:

At least for my use-case with internal tools, we only support Chrome and Firefox, so I could definitely use this.

[2015-02-23 10:27] #117 closed

[2015-02-23 23:30] esbullington commented on #115
@yang-wei Ah, I see now why you had to do `rd3-chart-axis y axis` instead of `rd3-chart y axis` -- it's because React test utilities don't handle combined class names.  We'll stick with what you did, it's the best way given the constraints of the React test tools.  Thanks again, and thanks for the extra tests you put in there!

[2015-02-24 01:30] yang-wei commented on #115
Yeah I thought of that too. Closing this now

[2015-02-24 01:30] #115 closed

[2015-03-01 19:31] jefffriesen opened #143 "So many renders"
I was building a custom component based off line chart and noticed that the primary render function renders ~50 times when the page is refreshed. I thought I had set something up incorrectly but then I checked on the unadulterated LineChart and BarChart - both do it too. I didn't see any obvious reasons for it though. Anyone else get that?

[2015-03-02 03:11] yang-wei commented on #143
Would be helpful if you can show us with fiddle perhaps ?

[2015-03-02 14:48] esbullington commented on #143
Yes, if you could provide an example of this happening, it would be helpful.  But no, there should be nothing inherent to the chart components themselves that would cause the top-level component to re-render ~50 times.

You may know all this, but if not, a brief note to bear in mind about React: if any parent components of the chart component set state for any reason, like would result from an asy

[2015-03-02 21:12] jefffriesen commented on #143
If this isn't happening on your end then apparently it's on mine. I can recreate it with a trivial setup where I'm sure I'm not calling render excessively, however, I'm using Morearty at the moment so that may have something to do with it. I'm going to close this, assuming it's on my end. If I find something otherwise I'll reopen it. Thanks

[2015-03-02 21:12] #143 closed

[2015-03-06 13:17] rzeszutekjacek opened #144 "LineChart xTicksCount does not work"
hello :)

according to: https://github.com/esbullington/react-d3/blob/master/src/linechart.jsx#L424
I see that it should be possible to set number of ticks on x axis of LineChart.

However, the code:
[code]
still have random number of ticks (higher than 4).

Any plans to fix/add this feature ? :)

[2015-03-06 17:51] esbullington commented on #87
Fixed in v0.3.0

[2015-03-06 17:51] #87 closed

[2015-03-06 18:04] esbullington commented on #144
Behind the scenes, `xAxisTickCount` is using d3's `axis.ticks()` method, which uses [says the following](https://github.com/mbostock/d3/wiki/Quantitative-Scales#linear_ticks) about the count provided:

"The specified count is only a hint; the scale may return more or fewer values depending on the input domain."

To get the kind of control you're wanting, we need to pass in an array of values to d3

[2015-03-06 23:02] boucher opened #149 "Line graph voronoi error"
I'm running into a problem creating a simple line graph that seems to fail when trying to construct the mouseover voronoi. Here's (roughly) the graph I'm constructing:

    var lineData = [{"name":"Series 1","values":[{"x":0,"y":0},{"x":1,"y":1},{"x":2,"y":2},{"x":3,"y":3},{"x":4,"y":4},{"x":5,"y":5}]}];
    return <LineGraph  data={ lineData } width={ 500 } height = { 300  } />

And the trace (wi

[2015-03-06 23:52] esbullington commented on #149
If I had to guess, then I'd say one of your nested objects in your `values` array is empty, or just contains the `y` property or some other property and not the `x`.

Now, it's a reasonable question as to whether this type of error should be handled more gracefully by the library (see #96), but if you're looking for a quick answer, I'd recommend trying to filter your data for missing `x` values an

[2015-03-06 23:53] boucher commented on #149
Yeah, unfortunately that isn't the case. The data array making it all the way down the chain is visible in the debugger as being 0,0, 1,1, 2,2 3,3 4,4 5,5.

[2015-03-07 00:03] esbullington commented on #149
Oh, so that's the actual data?  In that case, I just tried that data and it's working ok here.

Are you on `master` or the latest NPM version?

[2015-03-07 00:05] boucher commented on #149
Latest npm, which reports to be 0.2.1, but master and all the branches I see claim to have a version of 0.2.0, which confused me.

[2015-03-07 02:29] esbullington commented on #149
Yeah, I'm rolling in the process of testing and rolling out a new release and accidentally wrote 0.2.0 instead of 0.3.0 (still working on things).

I have no idea why you're getting that error on 2.1.  I've just checked out that release and am running your data just fine.  Here's a [working JSFiddle](http://jsfiddle.net/esbullington/n67d8p77/) of your chart with that exact data, using the latest r

[2015-03-07 04:04] boucher commented on #149
Thanks, I'll try and see if I can create a reduction tomorrow, and I'll try the latest in the 0.3 branch as well.

[2015-03-08 07:30] boucher commented on #149
Ok, so, the specific difference in my case that causes it to reproduce is the value for width. If you provide a width of 672 and a height of 300 it should fail. Full react class I ran to produce the failure:

https://gist.github.com/boucher/2213644b2b627ed4aa36

[2015-03-08 16:21] boucher commented on #149
I also had some difficulty getting the current master to build. Seemingly some issues with transpiling es6 (many similar errors):

    [23:38:49] [Error: Parsing file chart-boilerplate/node_modules/react-d3/src/linechart/LineChart.jsx: Unexpected token (73:10)]

[2015-03-08 17:06] esbullington commented on #149
What command are you running to build?   If you're wanting to build a full build you can use in an environment that doesn't support JSX and ES6, you need to run `gulp release` and then use the package generated in the build/cjs directory.

BTW, I just figured out what's causing your issue.  It's an undocumented (but previously discussed) quirk of d3's voronoi function (which we use) that doesn't l

[2015-03-09 01:07] frederickfogerty opened #155 "Immstruct not included in dist/cjs/package.json"
Is there a reason for this, or has it just not been included in error?

[2015-03-09 02:29] frederickfogerty commented on #155
And also defines `var arguments`. Wat.

![wat](http://i1.kym-cdn.com/photos/images/facebook/000/754/474/e32.jpg)

[2015-03-09 21:17] boucher commented on #149
I had forgotten that the build step was my own test bootstrap and not the react-d3 build, sorry about that. I came across those colinear discussions and assumed that was the issue, but wasn't really sure exactly how it was triggered. I'll probably adopt the randomness approach for now, but I agree that having an option to turn off the mouseovers would be nice. Thanks for your help.

[2015-03-10 01:12] yang-wei commented on #86
Is `immstruct` will be a long term solution to manage state in this library? I saw in other conversation, `freezer` , `cortex` are being mentioned.

[2015-03-10 10:34] esbullington commented on #86
Well, I really like `immstruct`, but it's bulky because of the `immutable-js` dependency.  At @rrag 's request, the creator of `freezer` kindly changed their license to one he, and we, could use for our MIT-licensed projects. Unfortunately, I was having a hard time using `freezer` like I would use a typical cursor, which is to pass a single cursor prop all the way down the component tree until may

[2015-03-10 11:48] rrag commented on #86
I have not used `immstruct` so I cannot compare `freezer` with it, in `freezer` you create a tree structure and pass a branch down, and that branch by can be used in the `PureRenderMixin`.

The mixin I created is very specific for stockcharts, because I am designing stockcharts as a build it yourself chart library, I need to refactor that mixin and split into a few, right now, the `event-capture-m

[2015-03-10 14:02] esbullington commented on #86
Sure, I mean adapt the general approach, not exactly the same implementation (which obviously wouldn't work).  Your mixin showed me that what I want to do *is* possible with `freezer`.  I think I'm going to take a related, but slightly different approach to an update pattern.  I put something up in a branch in the next few days, and also add in tooltips as a demonstration of this approach.

[2015-03-16 03:11] jmuel commented on #128
Has there been progress on this? If there hasn't is there anything I can do to help?

[2015-03-16 12:29] esbullington commented on #128
Yes, it's been merged to `master` with the 0.3 branch, but not yet published to NPM.  I've been quite sick for several weeks with a bad case of the flu, and I'm just now catching up on stuff.

Anyway, if you're using the Github repo, you can set the SVG `viewBox` string on any of the Cartesian-coordinate charts (ie, scatter, line, and candle charts at this point).  Not well tested, so let me know

[2015-03-16 22:34] jmuel commented on #128
Thanks. I'll probably wait for the npm release but if I get bored I'll play around with the current branch.

[2015-03-19 03:36] jmuel opened #160 "Y axis rendering cuts off more than 2.5 digits."
http://jsfiddle.net/p4kb3ptv/

That fiddle should demonstrate the problem. If the y-axis has more than 2 digits it cuts the third digit off and doesn't render 4+.

[2015-03-19 12:37] esbullington commented on #160
Hey, thanks for the bug.  This is something that's very hard to adjust for automatically, since you have to render the entire chart on the actual DOM (not virtual DOM) before you can detect how long a text string will render.  Since we use the virtual DOM only (so people can do server-side rendering), this isn't possible for us to do at this point, and probably ever.  So we have to chose some arbi

[2015-03-20 00:19] jakepusateri opened #162 "AxisTicks component appears to ignore tickFormatting prop"
https://github.com/esbullington/react-d3/blob/master/src/common/axes/AxisTicks.jsx#L38 is checking for a tickFormat_ prop for some reason and there's an extra tickFormat defaultProp.

Meanwhile props.tickFormatting isn't used at all.

[2015-03-20 12:27] esbullington commented on #162
Thanks for letting me know.  I swamped right now with client work since I was out sick for over a week this month, so it will probably be at least the weekend before I can get to this.

Most of the code in the `AxisTicks` component is directly pulled from d3, so that's the reason for extraneous variables.  It definitely needs cleaning up.

[2015-03-20 20:24] rrag opened #163 "displayName = "exports" for all components"
Since all the components are created as

[code]

The display name is `exports` for everything. You can see it in the Chrome React dev tools

![image](https://cloud.githubusercontent.com/assets/10691183/6760212/abb461f6-cf14-11e4-9a43-899ab8b4b3dc.png)

Fix:

create
[code]

[2015-03-20 20:40] rrag commented on #127
@frederickfogerty are you working on this now? I just started to swap out `immstruct` with `freezer-js` on the `LineChart`, making sure we are not working on the same thing.

[2015-03-21 01:37] parshap commented on #163
You can also pass `displayName` as a property to `React.createClass`.

[code]

[2015-03-22 10:23] esbullington commented on #163
Thanks for the issue. I don't use React Dev tools much, so I wasn't aware of this issue until now.

Just to be clear to anyone reading, this is only an issue affecting React Dev tools: it doesn't have any impact on the actual HTML generated.

This issue is also the result of a totally standard CommonJS idiom, so I'm not the only one to have problems with this: I see that react-bootstrap and react-

[2015-03-22 10:25] esbullington commented on #160
I'm closing this issue since it should be solvable with the `margins` property.  If you have any trouble with that, please feel free to open a separate issue.

[2015-03-22 10:25] #160 closed

[2015-03-23 03:27] grahamb opened #164 "BarChart axis labels do not work"
[Sample JSFiddle](http://jsfiddle.net/grahamb/9cmL2yLh/3/)

Problem: BarChart components don't display axis labels.

Steps to reproduce:
Create a `<BarChart>` component with `xAxisLabel` and `yAxisLabel` props.
[code]
Expected result: a `<BarChart>` should be rendered **with both X and Y axis labels visible**.

Actual result: a `<BarChart>` is rendered **without any axis labels visible**.
![screen

[2015-03-24 01:58] frederickfogerty commented on #127
@rrag Nope, I've recently changed jobs, so won't be working with graphs as heavily any more.

[2015-03-24 21:05] jmuel commented on #160
I took a look at this and it seems like enough to fix the issue. I was really hoping for a better solution but you're right, this is the best answer I can see. I might take a look at updating the docs to make a note of this since it's something I can see other people having a problem with.

[2015-03-25 12:00] evenwestvang opened #167 "AreaChart implementation partially supports stacking"
Thank you for your work on an excellent library. We're looking at using it for a project and ran into a snag with the AreaChart right away.

AreaChart has code for stacking, but the implementation isn't quite done. The example in docs works because it stores its data in an indexed array, but if you follow the example and store data in `values: [{x: 0, y:0}]` D3s stacking will just overwrite the y

[2015-04-01 15:22] sklise opened #171 "Uncaught TypeError: Can't add property context, object is not extensible"
Whenever I try to implement any of the demo examples from http://esbullington.github.io/react-d3-website/ I get the following errors and warnings in the console:

[code]

[2015-04-01 15:48] rrag commented on #171
I thought this might be due to you using react 0.13.x but I could not recreate the issue

http://jsfiddle.net/rrag/8617n0qk/5/

Can you post back with an updated fiddle where I can see the problem?

[2015-04-02 15:38] yang-wei commented on #171
Thanks @rrag for looking into this. Are you doing thing like this? @sklise
[code]

http://jsfiddle.net/8617n0qk/6/

[2015-04-02 15:50] yang-wei commented on #167
Thank you for the issue. Although I'm not 100% sure the graph you are talking but does it look like this [library](https://github.com/rrag/react-stockcharts) from @rrag.

If the code of `StackedAreaChart` isn't too different from the current `AreaChart`, I'll suggest to just add a parameter for stacking.

[2015-04-02 15:52] yang-wei commented on #155
Fixed in #161

[2015-04-02 15:52] #155 closed

[2015-04-02 15:53] yang-wei commented on #127
Since pubsub system is not used anymore, I'll just close this.

[2015-04-02 15:53] #127 closed

[2015-04-02 15:54] yang-wei commented on #162
fixed by #165

[2015-04-02 15:54] #162 closed

[2015-04-02 19:59] sklise commented on #171
So.... I was writing this in Coffeescript and using https://github.com/jsdf/coffee-reactify to transform. Switching away from Coffeescript, and each of your fiddles has solved my issue.

thanks so much!

[2015-04-02 19:59] #171 closed

[2015-04-02 21:18] boucher commented on #163
Yeah just got bit by this, I was actually using displayName to figure out what kind of chart I was dealing with programmatically (perhaps that was lazy, I'm changing it).

[2015-04-03 00:36] yang-wei commented on #163
Send us a pr after you're done =) @boucher

[2015-04-06 07:35] yang-wei commented on #128
@jmuel We forget to refer to this issue when we solved this. But I suppose https://github.com/esbullington/react-d3/blob/master/src%2Fcommon%2Fcharts%2FBasicChart.jsx#L11

[2015-04-06 07:35] #128 closed

[2015-04-06 08:32] yang-wei commented on #164
Thanks for the well described issue @grahamb. Your description makes debugging faster. Turn out we just forgot to include mixin in `BarChart.jsx` to render x,y axes label.

[2015-04-06 08:41] #164 closed

[2015-04-06 09:16] #163 closed

[2015-04-06 09:18] yang-wei opened #174 "Support es6 by babeljs"

[2015-04-06 14:44] esbullington commented on #174
Hi @yang-wei well-done with all those PRs!

babeljs is a very cool project, and I'm following it closely.  What particular es6 features are you interested in using that we don't have now?

I do really like how babeljs is very compatible with React as well as with Flow type annotations.  I've been wanting to eventually add Flow compatibility to the project for a while (which actually won't require

[2015-04-06 14:51] esbullington commented on #167
Hey thanks for the issue, and sorry for the delay.  It's been a busy past week for me at work, so my spare time has been limited.

Is there any way you could show me an example of the issue you're running into on a JSFiddle?  I'm trying to guess at what your code looks like, so a concrete example would help a lot:

http://jsfiddle.net/esbullington/jp9dkh1g/

[2015-04-06 18:35] esbullington commented on #149
I did add a `hoverAnimation` prop in the line chart to disable animation in cases when you want to turn off the mouseovers, and it's already in the scatter chart implementation.  So given that this is probably the best workaround at this point, I'm going to go ahead and close this issue.

If you have any ideas on how to approach the core issue with colinear points, you'd probably want to file that

[2015-04-06 18:35] #149 closed

[2015-04-06 18:40] boucher commented on #149
Cool, thanks. I did end up just adding a bit of random noise in the
meantime.

On Mon, Apr 6, 2015 at 11:35 AM, Eric S. Bullington <
notifications@github.com> wrote:

[2015-04-06 20:29] jmuel commented on #128
Thanks, that looks like it should do it.

[2015-04-06 21:47] aj0strow opened #176 "I can't get it to draw the example charts."
Hello, can't for the life of me get `react-d3` to draw an example chart. I tried using the most recent release in js fiddle:

[code]

Which errors:

[code]

When I try to use `react-d3` in my own project, i get errors too:

[code]

When i comment out the react d3 chart, the errors go away (but the potential for interpreting data also goes away ...) I must be doing something stupid, but cannot figu

[2015-04-06 22:11] esbullington commented on #176
Pretty sure your first error is due to the fact that Github doesn't serve files with the content-type header that you need to use them in your project.

Is your second error using Browserify or Webpack, or are you using the minified react-d3 file?  This package is really meant to be used as a CommonJS package -- the compiled, minified version is mostly for the JSFiddle integration.

Can you please

[2015-04-06 22:52] aj0strow commented on #176
It seems to work in the fiddle, but I still can't get a hello word type thing to work. I keep getting:

[code]

The code is just nested views:

[code]

If i change subscriptions to the following render:

[code]

The error goes away. So it's definitely the chart causing it. I just don't understand how or why, considering it works so well in all the demos and on jsfiddle.

[2015-04-06 22:57] aj0strow commented on #176
[code]

[2015-04-07 01:45] yang-wei commented on #174
One of the es6 features I am really interested in is `[destructing](https://github.com/lukehoban/es6features#destructuring)`.

[code]

I can't think of other features which are useful yet but since babeljs is supporting `jsx`, I think it's good to make a switch.

[2015-04-08 18:11] delaneyj opened #177 "Unable to show x/yAxis Label"
Looking at the code it appears your are using props.xAxisLabel/props.yAxisLabel  but when i try in a [JSFiddle](http://jsfiddle.net/56hjgdsf/3/) they don't show up.  Any thoughts?

[2015-04-08 18:26] esbullington commented on #177
Hey, that functionality was just added to bar chart a few days ago, and I haven't yet updated the build in the JSFiddle.  So that will require using `master` until I publish a new NPM version and update the JSFiddle (I'll try to do that in the next few days).

Axis labels should work just fine with all the other charts that have X and Y axes -- the bar chart is the only one that recently picked up

[2015-04-08 18:32] delaneyj commented on #177
Awesome!  I'll make to be on the lookout for > 0.3.0 version.  Would be great to keep this open until its in the released version.

[2015-04-08 18:33] esbullington commented on #177
Agreed.

[2015-04-08 21:49] delaneyj opened #178 "Unable to turn off % at the end of a value in a PieChart."
Always displays a percentage even when not desired.  Are there props that could be exposed to turn off or switch the suffix?

[2015-04-08 21:54] delaneyj opened #179 "Ability to scale using width/height using percentages."
Would it be possible to the svg calls inside a viewbox to make the charts more responsive to layouts than a fixed size?

[2015-04-10 09:28] aguidis opened #180 "Update dependencies to support the latest version of React"
Hello,

First of all, thanks for this module.

I installed react-d3 module in my app but I encountered this error when I tried to rendering the chart :
[code]
This error is due to the use of different versions of React (0.12 for react-d3 and 0.13 for my app).

@JustinCarmony explained it very well in his recent post : http://www.justincarmony.com/blog/2015/04/02/webpack-react-multiple-versions-iss

[2015-04-10 13:47] esbullington commented on #174
JSTransform supports destructuring, so we can use it now. And we can also use es6 in `jsx`, so any es6 feature you use in your JS, you should also be able to use in the `jsx`.

My main concern with BabelJS is the size of the polyfills.  I've already added significant size with immstruct, which I've not yet had time to replace with something smaller.  So I'm hesitant to pile on additional runtime d

[2015-04-10 14:00] esbullington commented on #180
Thanks for letting me know.  I've just released a new patch 0.3.1 that hopefully will take care of the issue.  I didn't want to exclude people still on React 0.12 from using the new version of the library, and still let people on 0.13 use it, so I went with `>0.12`.  Let me know if that doesn't work for you.

[2015-04-10 14:01] esbullington commented on #179
Yes, you can set a viewbox now.  Just pass a `viewbox` property to any chart with the appropriate viewbox settings. I unfortunately haven't documented this yet -- it's relatively new.

Or do you have something else in mind?

[2015-04-10 14:09] aguidis commented on #180
Thanks for your answer and for the patch :) After few hours of tests, I finally decided to use Webpack so I can force D3 to use my react version and it works.

But the patch is a great news nevertheless !

[2015-04-10 14:13] esbullington commented on #178
Thanks for bringing this up.  When I hard-coded this in, I was thinking of the fact that it's rarely (never?) a good idea to make a pie chart whose parts don't add up to a whole.   But obviously, there are more ways to represent parts of a whole other than percentages, so users should have the option to exclude it.

Before the next version, I'll change the pie chart to accommodate the same type of

[2015-04-10 14:35] yang-wei commented on #174
Never know this. Thanks !

One of the thing I came out with is this [section](https://babeljs.io/docs/faq/#no-runtime-dependency) in BabelJS FAQ. Does this solve what you're concerning about. But since most of the es6 features are available, I am closing this.

[2015-04-10 14:37] esbullington commented on #176
If you're using browserify or webpack, you may want to give it another try.  I just pushed out a patch that I hope will solve your issue.

[2015-04-10 14:39] esbullington commented on #144
I'm going to go ahead and close this issue due to lack of activity, and because it appears to be an artifact of the way d3 handles the ticks.  Feel free to open another issue if you think it's something we can solve.

[2015-04-10 14:39] #144 closed

[2015-04-10 14:44] esbullington commented on #177
@rrag can you give me a hand whenever you get a spare moment?  To solve this issue, I've been trying to get your Gulpfile `minified` task to build a new minified package to use in the JSFiddle, but each time I try, I get an error on JSFiddle telling me there's no `rd3` variable.

It looks like you're using the `standalone` flag in browserify, so I'm not sure why it's not exposing the rd3 namespace

[2015-04-10 14:50] yang-wei commented on #174
@esbullington

Can I know how do you measure this?

[2015-04-10 14:51] esbullington commented on #174
Hey @yang-wei how's school going?

It's strange that BabelJS has that section, because I also was reading [this section](https://babeljs.io/docs/usage/caveats/) about polyfills.  It's possible that it's changing so fast that they no longer require those polyfills, and that the documentation is old.  Or perhaps vice versa.

Please feel free to re-open if there's an ES6 feature you'd like to use tha

[2015-04-10 14:56] esbullington commented on #174
Re: how to measure size, I just did:

`NODE_ENV=production browserify -t [ reactify --es6 ] --standalone rd3 ./build/cjs/index.js | uglifyjs -c > testpackage.min.js`

And compared the size of the output with and without the package I'm testing.

[2015-04-10 15:12] yang-wei commented on #174
I will deep into babeljs doc again when I have time for this.

Everything is good for me. Can go back to "normal life" after this weekend. Hope that you're doing well with your career too. Are you?

[2015-04-10 15:14] yang-wei commented on #178
I don't mind to tackle this issue but I am not quite understand with the phrase

Mind to explain? @esbullington

[2015-04-10 15:30] esbullington commented on #178
@yang-wei sure, glad to.  In all the charts based on Cartesian coordinate system, we can pass in an `yAxisFormatter` function or `xAxisFormatter` function.  This function takes whatever value is at the tick position in question as the function input argument, and then it returns the formatted value.

So in this case, since there's obviously no x/y axis or ticks, we could just use a `formatter` pro

[2015-04-11 01:00] yang-wei commented on #174
The maintainer of babel answered. using `gulp-babel` will not included polyfill by default.

https://github.com/babel/gulp-babel/issues/25#event-278206934

[2015-04-11 01:49] yang-wei commented on #178
@esbullington Yes this makes sense of course. Thanks!

Since piechart is not a Cartesian chart, so I expect another mixin to be created?

[2015-04-12 06:08] jsanchez034 commented on #167
Hey @esbullington so I was running into similar issues as @evenwestvang . Here are a few examples of the area chart issues I am running into...

Here is a chart where each series "values" is an array of objects with x and y properties...

http://jsfiddle.net/0taubm5m/

Notice no chart is rendered

Here is another example where the exact same data is used but "values" is an array of arrays with val

[2015-04-13 07:50] #180 closed

[2015-04-13 14:34] esbullington commented on #167
Hi @jsanchez034 thanks for your comment and very helpful JSFiddles.  I see I've definitely made a mistake in my attempt to duplicate d3's stack svg renderer.

And your fix is close.  But the scale seems like it would be a bit off (not able to try it out myself at the moment).  We shouldn't have to sum the max of each series to get the proper domain (unless I've got the wrong mental model in my min

[2015-04-13 22:04] nurpax opened #185 "specifying min/max range for the Y axis in a linechart?"
Is there a way to specify a minimum value for the Y value in a LineChart?

Currently it automatically computes min/max Y values and scales the plot to fit into that range.  E.g., if my values are between 100 and 200, the bottom of the chart starts at 100.  But for many purposes, I'd actually like it to start at zero.

Here's a fiddle that demonstrates what I mean: http://jsfiddle.net/ux1cveed/

[2015-04-13 22:05] nurpax commented on #185
I think `domain` is the way this is specified in d3.  But I'd be fine with just setting a floating point value like

<LineChart yMin=0 .. />

Perhaps this already exists, I just couldn't find the API ref.

[2015-04-14 02:05] jsanchez034 commented on #167
Hi @esbullington in the examples I show in the JSFiddles the y values between series have a large difference, so if just the maximum is used then I get a graph that looks like this...

**Using Max**
![screen shot 2015-04-13 at 9 45 19 pm](https://cloud.githubusercontent.com/assets/761087/7128968/da0782ce-e227-11e4-8e5e-c990c4165f09.png)

As you can see the tops of the spikes of the graph of the se

[2015-04-14 10:42] esbullington commented on #167
OK, I feel like an idiot -- the title of the issue is stacked area charts.  Poor @evenwestvang has probably unsubscribed in disgust.  My mental model in responding was of something like a "layered" area chart, with all the series starting from the same baseline, which I was doing before.  Yes, if you're doing cumulative totals, the scale obviously needs to be summed.

I wonder if there's some way

[2015-04-14 13:00] esbullington commented on #167
So I thought about this, and it's pretty clear that when dealing with an area chart with multiple series, the stacked area chart is more common than a layered area chart.  So I think the best thing to do would be to make the stacked area chart the default area chart type when there are multiple series present.  And then create a separate chart type for layered area charts (I'm already planning on

[2015-04-14 14:31] jsanchez034 commented on #167
Hey @esbullington, sounds good.  I will make the pull request tonight.

[2015-04-14 14:35] evenwestvang commented on #167
So sorry, still subscribed, but haven't been paying attention. The patch I applied for this behaviour is around these parts: https://github.com/bengler/react-d3/commit/02f0c4a1beeb17981e08fe120f1a1daec798d19e.

[2015-04-14 14:56] esbullington commented on #167
Looks like you both arrived at a similar solution.  I'll wait for jsanchez034's PR, which I *think* will cover evenwestvang's needs (please let me know if it doesn't).

Thanks to both of you for your patience and assistance -- hopefully as the project becomes more mature these kinds of situations will occur less often.

[2015-04-16 13:45] esbullington commented on #167
I'm closing this issue since #167 by @jsanchez034 should take care of the issue.  Please let us know if you have any further issues.

[2015-04-16 13:45] #167 closed

[2015-04-18 15:39] kriswallsmith opened #188 "bar chart with negative numbers"
I need to be able to render a chart with negative numbers, like so…

![screen shot 2015-04-18 at 8 35 49 am](https://cloud.githubusercontent.com/assets/33886/7216069/275d7b9c-e5a6-11e4-9d77-34f5af68fc0c.png)

Unfortunately a data array with a negative value throws an error…

[2015-04-18 23:04] jsanchez034 commented on #188
Hey @kriswallsmith, @esbullington, have a fix for this issue and I'm about create the pull request for the fix

[2015-04-18 23:38] jsanchez034 commented on #188
Hey @esbullington here is my pull request with fix, #189.  Let me know what you think.

[2015-04-20 00:59] yang-wei commented on #176
@aj0strow Is your problem solved?

[2015-04-20 01:00] yang-wei commented on #178
@delaneyj Will be fixed in #190 once it's merged. Thanks

[2015-04-20 12:41] #178 closed

[2015-04-20 15:33] yang-wei commented on #188
@kriswallsmith Give it a try on latest master =)

[2015-04-20 15:33] #188 closed

[2015-04-20 18:32] kriswallsmith commented on #188
That works. Thank you!

[2015-04-21 20:51] nurpax commented on #185
@esbullington Please see the PR for what I mean.  There may be better ways of accomplishing the same, this is more of an illustration.

It'd be nice to be able to specify one or the other or both of min/max.  E.g., if I give yMin:0, then it'd use zero as the chart minimum but let d3 compute the max Y value automatically.

I think getting this functionality in one way or the other is an absolute mu

[2015-04-22 01:59] yang-wei commented on #185
Thanks @nurpax. This is a great feature that we are missing. What do you think about xAxis ?

Also same api should be added to other chart as well.

[2015-04-22 16:03] esbullington commented on #179
I'm closing this one, but if setting the `viewbox` didn't work for you, please feel free to file another issue.

[2015-04-22 16:03] #179 closed

[2015-04-22 16:26] esbullington commented on #185
Hi @nurpax thanks for your comments.  As of now, users can pass in custom chart domain by passing in a custom d3 scale using the `xScale` or `yScale` properties on each chart that accommodates Cartesian coordinates.  But I'm not opposed to offering a more direct way to do this, like you're suggesting.

So if you're willing to submit a PR generalizing the change you made to the line chart in your r

[2015-04-22 18:02] parshap commented on #185
@esbullington: I'm probably just missing it, but I don't see this. Is `props.xScale` and `props.yScale` support for Cartesian charts in master?

[2015-04-22 18:18] esbullington commented on #185
Hmm, you're right.  That ability seems to have been lost as I made the React-based axes and restructured the code base.  Now that I'm thinking about it, it may not have even been in all the charts to begin with.

Well, passing in custom scales is probably a must, and this makes @nurpax 's suggestion even more important.  Unless someone else wants to work on it before then, I'll see what I can do t

[2015-04-22 20:23] parshap commented on #185
@esbullington I needed to be able to set a pass a scale prop to the area chart, so I've added that functionality here: https://github.com/esbullington/react-d3/compare/master...aboutLife:scale-props. I'm not sure I'll be able to get to the other charts, but hopefully this is a start.

[2015-04-22 20:47] samdalton commented on #179
@esbullington  I'm also running in to this issue. If I have a chart I want at 600x300, and I set my `viewBox` to "0 0 600 300", I still need to set `width` and `height` props on the chart (AreaChart, in this case) because they are used to compute the axis scale - https://github.com/esbullington/react-d3/blob/master/src/areachart/AreaChart.jsx#L46. For this reason, I can't pass in width:100%, heigh

[2015-04-22 21:34] parshap commented on #185
I added another commit to be able to pass in just the domain instead of computing the whole d3 scale object myself. This is basically the same as @nurpax's commit above, except on top of my previous refactoring.

It turns out that I wasn't able to generate the `yScale` completely myself because I still need the range to be computed using the internal `innerHeight`. My use case is that I want some

[2015-04-23 05:27] philogb opened #199 "Contact?"
Hey Eric, I'd like to chat about a job. What is the best way to do this? I couldn't find your email anywhere.

Thanks!

[2015-04-23 05:44] esbullington commented on #199
Thanks @philogb just sent you an email.

[2015-04-23 05:44] #199 closed

[2015-04-23 22:40] danpatnate opened #200 "Add subchart data points (circles)"
The option for subcharts with data points included - for line graphs.

[2015-04-27 11:52] yang-wei opened #201 "Better approach to handle animation in chart with voronoi(scatter chart etc)"
Currently our `voronoi` and `dataSeries` are in sibling relationship. When a `polygon`(child) in a `voronoi` emit a event(`mouseOver` or `mouseLeave`), it needs to go to the top of `voronoi` and again propagate down `circle` which is child of `dataSeries`. To manage this kind of hierarchy, we used library like `cortex` or  `immstruct`. Somemore we have to consider the circle `id` to make sure corr

[2015-04-27 14:54] esbullington commented on #201
Hey, I definitely agree that the current Voronoi approach is suboptimal.  It would be nice to keep all the needed state within a little component, and then use immstruct from an external wrapper whenever we add animations.  And I like your general approach here a lot.

A few issues:

* There's no way now to toggle animation on and off (this would be easy to fix)
* This breaks my goal of keeping Re

[2015-04-28 01:21] yang-wei commented on #201
@esbullington Thanks for the issues.

By top-level components, do you mean the `dataSeries` and `voronoi` level? To make sure not all `circle` are re-rendered when state change, I am keeping state at the lowest possible level. Here, I am classifying components into [smart and dumb](https://medium.com/@dan_abramov/smart-and-dumb-components-7ca2f9a7c7d0) where smart component(In this case, `CircleAn

[2015-04-29 22:45] MatthewHerbst commented on #201
@esbullington and @yang-wei : What about implementing Flux or Reflux (my preference of the two) architecture to handle the animation states?

[2015-04-30 00:44] yang-wei commented on #201
Although I never really use Flux but @esbullington had mentioned this before. This is one of our consideration too. But for now we are trying to make it small and independent on external library (only d3 and react).

[2015-04-30 02:38] MatthewHerbst commented on #201
I think [this is a good post to read](http://blog.ryanflorence.com/you-cant-not-have-a-framework.html) as a comment about that. It's a bit more expansive than what we are talking about, but I think the basic point applies: if we don't use an external library for something as big as state management (and it can get quite big, especially in the future as `react-d3` grows), we will simply be making o

[2015-04-30 02:48] yang-wei commented on #201
Have to agree with you @MatthewHerbst . If flux can solve our problems here, then we'll probably remove immstruct =)

What do you think @esbullington

[2015-04-30 02:58] rrag commented on #177
@esbullington  did you try [this](http://jsfiddle.net/rrag/8617n0qk/)? I had added the comment to this [PR](https://github.com/esbullington/react-d3/pull/154#issuecomment-83146260)

[2015-04-30 14:57] esbullington commented on #201
Ideally, each chart would be stateless and deterministic.  We break that rule of thumb only for the mouseover interactions, which take place after a chart is fully rendered.

Flux is fine for applications (I've built a large application that used Flux).  Ideally, I'd like to stay away from Flux for what should be simple library components.  That said, the Voronoi mouseovers have been tricky, becau

[2015-05-01 01:46] esbullington commented on #177
@rrag thanks, I saw that, and it worked fine if I recall.  That was generated by gulp, right?  For some reason, I can't get it to work now.

[2015-05-05 03:03] jmuel opened #204 "Better way to scale"
I was running into an issue getting the scaling to work easily so I made a few small changes shown [here](https://github.com/jmuel/react-d3/commit/9a25085510f390757c759609068ffcbfaee0f057). This isn't a complete solution so I'd have to go through the use cases that would be affected by this, but it works for my use case and can be generalized.

[2015-05-05 12:21] esbullington commented on #204
It's a good approach if your parent element scales (like if you're using Bootstrap or some other grid-based CSS system).

You know what, we could just make width and height strings and then users could either put the pixel width/height or `100%`.  That would allow users who have a scalable parent element to easily scale, like you are doing.  Would there be any downside to this approach?

It's a br

[2015-05-05 12:39] jmuel commented on #204
That's basically what I was intending to do. The important thing here is that we have the overall height and width which goes on the svg element itself and should be a string, and we have the internal height that is used for measurements and should be a number. I was thinking we could actually create a separate prop for the first concept and keep the height and width the same, and default the svg'

[2015-05-05 13:19] esbullington commented on #204
Actually, it doesn't even have to be a breaking change even without a separate height.  We could either not validate those propTypes or (better yet) use the React `oneOf` validator:

[code]

I've been working in statically-typed languages recently, so I momentarily forgot the fact that I'm working here in JS (`propTypes` trick me into thinking I'm working in static types, even if the validation is

[2015-05-05 15:05] yang-wei opened #205 "Is line on line chart needs animation"
@esbullington While thinking how to solve this, I start to think about the reason to animate the whole line in line chart.  There is rarely a case where we need to animate line when points on it are hovered. I start to think we can implement something like [metrics graphics](http://metricsgraphicsjs.org/examples.htm#multilines).

That's is, when a point on a line is hovered
 * the point is highlig

[2015-05-05 15:06] yang-wei commented on #204
Yes this is not a breaking change. PR are welcome @jmuel

[2015-05-05 15:07] #201 closed

[2015-05-05 15:12] yang-wei commented on #86
Single series charts animation

Todo charts:

 * [ ] Pie Chart
 * [ ] Tree map
 * [ ] Bar Chart

[2015-05-05 17:07] samdalton commented on #204
I ran in to this issue as well, but because of AreaChart, you can't accept both a string and a number as it does math with the values. See my comment here: https://github.com/esbullington/react-d3/issues/179#issuecomment-95329569
This would work for LineChart but if we wanted the interface to be consistent across all charts it needs a different approach.

[2015-05-05 17:38] esbullington commented on #204
Thanks for reminding me @samdalton   I've started a new job doing mobile development in Java and Objective C and spent the past few weeks immersed in those languages, so I've not been able to keep this code base in my head.  I shouldn't have answered so glibly without referring back to the code.

So the way I had planned on doing this originally was putting a listener on window `onresize` event an

[2015-05-05 18:20] samdalton commented on #204
@esbullington funny you should mention the `onresize` approach - that is what we ended up doing as an interim solution. There was some catch to calculate the correct inner width inside the parent container which @parshap can elaborate on. I did try out the method I suggested in Chrome, however, and it worked well.

I like idea of passing in an viewbox object with the 4 properties, but was not awar

[2015-05-06 11:01] esbullington commented on #205
No, I totally agree.  Stylistically, I do prefer the line animation, but it causes too much extra complexity, so let's dump it.  The metrics graphics approach is perfectly fine.

Are you working on this?  If not, I may be able to do it today.

[2015-05-06 11:58] yang-wei commented on #205
@esbullington Not for now. I am working on other charts animation.

[2015-05-06 14:07] n1mda opened #209 "How to add second Y-axis in LineChart?"
I need multiple axes in a LineChart, how is this done in react-d3?

[2015-05-06 14:32] yang-wei commented on #209
@n1mda  It's not possible with the current exposed api provided but you can do it easily since most of the elements in React-d3 are modular.

Just copy `LineChart.jsx` inside `src/linechart` to something like `multipleAxesLineChart.jsx`.
Inside the `render` method, say you want to add another yAxis on the right side of the graph.
[code]

Hope that this solve your problem. If you have further quest

[2015-05-06 15:27] MatthewHerbst commented on #205
@yang-wei I think that tooltips option is very powerful, especially on multi-series graphs such as a multi-series line graph. I really like how it's done in [`react-d3-components`](https://github.com/codesuki/react-d3-components)

[2015-05-06 15:35] MatthewHerbst commented on #209
This is actually a feature I've been planning to add since it is a fairly common use-case. The hard question about it is the fact that either the data array will need to be modified, or, two data arrays, one for each axis, will need to be passed. I like the latter option better. Something like:

[code]

[2015-05-06 15:36] MatthewHerbst commented on #200
Can you give an example? I'm not sure I'm familiar with this concept.

[2015-05-06 15:57] yang-wei commented on #209
@MatthewHerbst This feature was talked somewhere else in issues. However it would be really cool to have this. Just the difficult part is how to expose it.

From what I understand, you mean that if we need another yAxis, we simply do something like:
[code]
is it?

[2015-05-06 16:16] danpatnate commented on #200
Note: This mockup is the desired behavior.
Like the screenshot below (top chart is the main chart with data points, the bottom is the subchart which "should" include data points to reflect it's parent):
![screen shot 2015-05-06 at 9 12 31 am](https://cloud.githubusercontent.com/assets/3934077/7497597/4e4eb468-f3d0-11e4-9281-92e74b97c989.png)

[2015-05-06 16:56] esbullington commented on #209
Hey, I'd love to make it easy for users to do things like this.  However, I'd prefer to work toward making it easier for users to compose their own charts using our chart primitives, rather than adding yet another prop to the top-level charts (`LineChart`, `ScatterChart`, etc).  @yang-wei demonstrated one possible way to do this above.

If contributors can come up with better ways to compose the u

[2015-05-06 22:45] MatthewHerbst commented on #200
How is this different from simply having a second LineChart where the data provided to that chart is just the subset of the part of the parent you want to show?

[2015-05-06 23:32] danpatnate commented on #200
@MatthewHerbst I suppose it is similar. The data in each chart is identical, however, the 'subchart' provides the zoom and scrolling capabilities for the large/parent chart - I'd like to keep this behavior.
I simply would like to add circles on the subchart lines.

[2015-05-07 17:05] nurpax commented on #185
How does it look like with @parshap 's change, would that be enough to implement yScale and thus to yMin/yMax functionality I suggested?  I'm happy to use yScale but as pointed out above, it seems like the master version or the latest release doesn't have this prop.

I'm happy to drop my PR if there's a more generic version that implements the same thing.  I wasn't planning on extending my change

[2015-05-07 18:34] esbullington commented on #200
Thanks for your suggestion.  I don't think this type of feature is something we're planning (we've already got a lot planned but unimplemented).  But you're more than welcome to use any of our chart components to build this for yourself.

[2015-05-07 18:34] #200 closed

[2015-05-07 20:35] danpatnate commented on #200
@esbullington Sure and thank you for the response.

[2015-05-13 22:19] davidgtonge opened #212 "Changing length of data array breaks line-charts due to index based keys"
First, thanks for this library - I love the approach.

I've run into an issue where I get loads of these errors:
`Invariant Violation: replaceState(...): Can only update a mounted or mounting component`

This was caused by re-rendering with a new data array with additional data points at the start. The issue seems to be the fact that the child circle elements have a key based on the index in the a

[2015-05-14 15:21] MatthewHerbst commented on #212
Hey @davidgtonge . If you look at #203 / #210 , you will see I have added in a `props.colorAccessor` feature to complement the `props.colors` function passed to most graph types. I didn't add it to `BarChart` yet because it requires some additional changes to the `BarChart` code which doesn't implement `props.colors` currently, but I'm working on it. Should be ready by next week.

As per the `func

[2015-05-14 15:24] MatthewHerbst commented on #212
Also, it is worth noting that React uses indexes by default for keys when you don't provide one, so I'm almost certain that our using the index as keys is not the cause of your problem @davidgtonge

[2015-05-15 00:20] MatthewHerbst commented on #212
@davidgtonge I dug around in my code a bit and turns out I actually do have this same problem! so sorry for saying I didn't - I had only been testing with with updating with less datapoints, not with more. I do find it strange that React uses indexes by default and yet we are having problems using indexes, but I think the idea you have proposed with a keyAccessor would be a good fix maybe.

What I

[2015-05-15 02:31] MatthewHerbst commented on #212
So, I played around with this by changing the `key` for the `Circle`s generated by `linechart/DataSeries` to `Math.random()`. I expected that to solve the problem by proving that the key was indeed the culprit. However, I get the same error. I am back to thinking it is our code that is the problem, or something other than the keys. @davidgtonge Can you show us the code you used to fix your error?

[2015-05-16 21:42] ejaxon opened #214 "Click handler for treemap"
I am hoping to use react-d3 in an updated implementation of http://www.avlbudget.org and, in particular, to use the treemap for http://www.avlbudget.org/expenses. To do it, I need to pass in a click handler that will let me know when the user clicks on a treemap cell (and of course some indication of which cell). The handler will just dispatch an event that will change the starting point in the hi

[2015-05-16 23:41] MatthewHerbst commented on #214
I wonder if it might be worth wrapping all event handlers into some type of master handler, and passing that down to all charts via the mixin - that way you could pass custom functions for click, hover, etc.

Anyways, I like this idea a lot. It makes the graphs much more interactive.

What type of guidance do you need that we can give to help you do this!?

[2015-05-17 01:47] yang-wei commented on #214
Hey @ejaxon , actually if you clone the latest master you will get see the treemap is actually implemented with animation. If you look at [here](https://github.com/esbullington/react-d3/blob/master/src%2Ftreemap%2FCellContainer.jsx), you can see how we handle  `onMouseOver` and `onMouseLeave` event.

Hope that this clears thing out

[2015-05-17 05:45] MatthewHerbst commented on #214
@yang-wei he wants to have his code listen for clicks on the treemap. The current implementation just runs our fairly crappy animation code - we should make it so that you can override all event call backs if desired, or at least, allow for event callbacks to hit the user's code before we run the animation.

[2015-05-17 12:39] ejaxon commented on #214
@MatthewHerbst, @yang-wei,
Well, one mystery solved anyway. I installed via npm, but was looking at the latest master and so I was confused by the fact that I couldn't turn on the animation. Only occurred to me this morning that the reason it wasn't working was that the npm version doesn't have that yet. Duh.

Anyway, yes, I did see the implementation of `onMouseOver` and `onMouseLeave`. It should

[2015-05-17 14:18] yang-wei commented on #214
@MatthewHerbst  Yes regarding to this I want to keep the simplicity of current implementation. It's a good idea but  our main focus at the time is to provide an api to render data using react and d3 quickly. If you need more, you can change the source.

Of course this is considerably in the future. Would like know more the use case of other events than `obMouseLeave` on treemap component. Will che

[2015-05-17 14:24] ejaxon commented on #214
@yang-wei There are a couple standard use cases for treemaps. You can see one of them here: http://avlbudget.org/expenses. When the data is part of a hierarchy, clicking on a cell in the treemap should allow you to descend down to the next level. The second standard use case is to have a tooltip with details of the item you are hovering over. For example, if I hover over China in the sample treema

[2015-05-17 14:29] ejaxon commented on #214
The tooltip example applies to many visualizations. The hierarchy descent is more specialized, but certainly can be of interest for, e.g., pie charts.

Understand the focus on simplicity, but I would highly recommend considering a general way of allowing interactivity. The advantage of allowing users to pass in handlers is that you retain the internal simplicity while creating a nice mechanism for

[2015-05-17 15:01] yang-wei commented on #214
@ejaxon Yes tooltip will be supported soon once I have time to work on this.

The clicking on cell example is a good one ! I am also planning to do such thing in my project [gh-top](https://github.com/yang-wei/gh-top). Sure it would be great if our library has this kind of power. What's your expectation of the api provided will be.

[2015-05-17 15:23] esbullington commented on #176
Closed due to inactivity, please feel free to re-open if you're still having issues.

[2015-05-17 15:23] #176 closed

[2015-05-17 15:25] esbullington commented on #174
Hey, @yang-wei, are you able to use all the ES6 features you are wanting now?

[2015-05-17 16:27] ejaxon commented on #214
Let me think on that a bit @yang-wei. Passing an object with eventType: callback pairs seems a simple way to go about it, but the key question is what context I get with the callback. Again, it's trivial with the treemap since there's a clear, discrete piece of data associated with any click - just provide a reference to the data item, which allows the user to get back any information they might h

[2015-05-17 16:30] ejaxon commented on #214
Let me know if there are particular visualizations that I should include in my thinking

[2015-05-17 16:31] ejaxon commented on #214
I.e., look more closely at the implementation ... I'll think about all of them, of course.

[2015-05-17 18:36] davidgtonge commented on #212
Hi @MatthewHerbst I'll make a pull request now

[2015-05-17 22:20] r-tock opened #216 "Expose angleBegin/angleEnd for pieChart"
For building guage charts that say begins at 225deg and ends at -45deg

[2015-05-18 02:08] yang-wei commented on #174
oh yes, so I am closing this now.

[2015-05-18 02:32] yang-wei commented on #214
What I am thinking about is instead of giving user freedom to set their callback when it's clicked, we will just set the callback to be zoom in if prop (i.e `zoomOpt.zoomable` is set). Something like this:

[code]
I expect we need to do some nesting or grouping to the data prop by using [d3.nest](https://github.com/mbostock/d3/wiki/Arrays#-nest), then in the children component,
[code]
`prop.zoom`

[2015-05-18 02:42] parshap commented on #214
`zoomable` doesn't feel like the right level of abstraction to me. I would be happier with the lower level constructs (like `onClick`) that enable users to build custom interactions.

[2015-05-18 03:47] yang-wei commented on #214
Do you mean that we just need to provide interface like
[code]

Hmm... let me just write out the code and figure out how to do this. Thanks @parshap

[2015-05-18 04:23] parshap commented on #214
@yang-wei yes that's the kind of API I was thinking about. I'm not sure if this is the best solution for everybody, but is how I feel I could make best use of `react-d3` personally.

[2015-05-18 04:38] MatthewHerbst commented on #214
@yang-wei correct me if I'm wrong, but the goal of the library is to emulate d3 on React. d3 allows full customization of all the features of a graph, including overriding and setting events. Thus I honestly don't think it should be the job of this library to do any type of animation or event handling. Rather, we just need to support allowing the users to do those things if they wish. @esbullingto

[2015-05-18 05:03] MatthewHerbst commented on #214
IMHO, I think a good way for us to go about this would be to have an `eventHandlerMixin` that gets implemented by all charts. Each chart would call the appropriate methods from the mixin. That way users could safely override any event handler method simply by passing it into the chart definition as a prop.

[2015-05-18 14:01] ejaxon commented on #214
As my contribution to the discussion, here's my quick-and-dirty solution for my own needs: https://github.com/DemocracyApps/react-d3/tree/master/src/treemap. The example use is here: https://github.com/DemocracyApps/GBE/blob/master/gbe/resources/assets/js/components/SimpleTreemap.js. I only implemented for the treemap for now, but implemented the slight generalization I mentioned above of passing

[2015-05-18 15:51] ejaxon opened #217 "Suppress treemap labels when rectangle is too small"
Ok, now I've hit the next tricky bit: dealing with labels that don't fit into the rectangle in the treemap (this will happen in every single layout I'll have). In general, the sequence in a treemap is:

* Show the full label if there's room
* Otherwise show the first part of the label followed by `...` if there's room for a few letters and the ellipsis
* Otherwise suppress the label (and possibly

[2015-05-18 18:25] ejaxon commented on #217
I've gone with passing in an average character width parameter (actually added inside an `extraProperties` hash so I don't have to keep adding things). Not recommending the approach, but it's all I have time for at the moment.

[2015-05-18 18:30] ejaxon commented on #214
Incidentally, the implementation works nicely now for traversing down through the hierarchy. I'll probably add in the ability to pass in the mouseover-related event handlers so that I can do a tooltip for cells where the label doesn't fit (see issue #217 ).

[2015-05-18 18:57] MatthewHerbst commented on #217
The Treemap creates the SVG and sets its size, so why would it not know the size of the text element?

[2015-05-18 19:03] ejaxon commented on #217
You can only get the size of the text element _after_ the element is rendered in the DOM (nothing to do with React, that's a standard issue in SVG - it depends on the string and the font at least, maybe other things). Apparently the way you do this in the regular SVG world is create it invisibly and then get the bounding box. That's already ugly, but in the React world you have to reach out to the

[2015-05-18 22:52] MatthewHerbst commented on #212
I have done some testing for this. @yang-wei all the voronoi animation/immstruct stuff is causing this. I commented out the code in `linechart/Line:componentDidMount()` and `linechart/Circle:componentDidMount()` and the errors that @davidgtonge and I see go away. I looked over the voronio code and the `immstruct` stuff. I have several comments:

1. I believe that the way we are using immstruct is

[2015-05-18 22:57] MatthewHerbst commented on #212
Also, an additional comment: without a deep understanding of immstruct, it is basically "black magic" how the component knows that a line is being hovered and should be animated. I still can't figure it out - was searching for an `onMouseOver` or something. I would love an explanation of how this happens - I assume it is something to do with the `observe()` function.

[2015-05-22 21:03] MatthewHerbst opened #219 "*Chart and DataSeries standardization"
**tl;dr**: we need to choose a single format for creating Charts and their elements via the `DataSeries`.

Currently, *Charts and their respective DataSeries are implemented one of two ways:

1) The *Chart creates a `dataSeriesArray` by mapping over the data. Each `DataSeries` produces one chart element, such as a single line (with its circles) in `LineChart`

Ex. from `LineChart`:

[code]

2) The

[2015-05-25 05:00] yang-wei commented on #219
It's true that we are doing this in 2 ways. As you know our graphs are categorized into 2 types

 * multi-series chart
 * single-series chart

IMO sharable code between these 2 series do not seems that much for me.

In our `BarChart`, we only have single series and they are rendering `rect` element only. So I think it's ok to keep in this way. In future when we need to support multi series `BarCha

[2015-05-25 05:06] yang-wei commented on #217
@ejaxon Had you come with any solution ?

[2015-05-25 05:09] yang-wei commented on #216
@r-tock

https://github.com/esbullington/react-d3/blob/master/src%2Fpiechart%2FArc.jsx#L40

You can passed in `startAngle` and `endAngle` as props in piechart. Does this solve your problem?

[2015-05-25 05:19] yang-wei commented on #214
@MatthewHerbst Sounds true but when we start earlier, what we want to achieve firstly is a graph library to help users build graph as quick as possible (e.g [metrics graphics](http://metricsgraphicsjs.org/)).

However since we had so many contributors and different opinion on this, we might change. And the custom event handler is really a good suggestion but it does bring in complexity for our use

[2015-05-25 05:21] yang-wei commented on #205
Will take over this.

[2015-05-25 05:30] r-tock commented on #216
I can only seem to use 0.31 version (that is the default I get when npm installing) and the following does not seem to work for me.
                         <PieChart
                            data={pieData}
                             colors={self.getColor}
                             startAngle={225}
                             endAngle={-45} />

[2015-05-25 05:35] r-tock commented on #216
And it looks like the startAngle comes from the output of pie() method, not from the PieChart props.

[2015-05-25 05:58] MatthewHerbst commented on #219
@yang-wei imho: the way our barchart is implemented right now, it can be trivially used as a multi-series chart, where each series simply has a single data point (each bar is then its own series).

I think all charts should be expressed as multi-series charts. If the user only puts a single series onto them, that is their choice.

As an example of where code differs, the way `props.colors` and `pr

[2015-05-25 06:48] yang-wei commented on #216
yes looks like I misunderstood what your mean. It's true that we currently do not support this feature =(

This feature is a must have and we welcome your pr =)

[2015-05-25 06:51] yang-wei commented on #219
You get me right ! Let's do this. So the charts we need to refactor are

 * [ ] BarChart
 * [ ] PieChart
 * [ ] Treemap

[2015-05-25 10:15] esbullington commented on #217
Eric's correct.  The only way to get the size of the text element is *after* the element is rendered.  As such, there's no way I can think of to solve this issue (we do everything in React, pre-DOM, so people can use the library on the server, and for other reasons).

In individual cases, people can resort to character counting, since they'll know how their font metrics.  But as a library, it woul

[2015-05-25 12:00] ejaxon commented on #217
In the near term, I don't see other options. Hopefully in the future React will provide a middle way. There are cases (not just SVG text) where one needs to build the components in order to determine a size, but it would be nice not to have to actually mount and render them in the actual DOM. Although in this case I'm just using knowledge of the font characteristics as @esbullington noted, I've al

[2015-05-25 12:44] ejaxon commented on #214
Just a quick update. I ended up not using this library, but rather porting the treemap code from our site last year (http://avlbudget.org/expenses). That not only gives me the hierarchy navigation (which was trivial to add here), it also does nice animation while zooming in or out. While that adds nothing to the substance and usefulness of the visualization, that kind of 'sizzle' is unfortunately

[2015-05-25 13:02] r-tock commented on #216
When is the next planned release for react-d3. Will you only be supporting es6 going forward?

[2015-05-25 13:08] yang-wei commented on #216
Please look at our [roadmap](https://github.com/esbullington/react-d3#roadmap).

Yes we are pretty excited about es6 but you can write es5 code if you want.

[2015-05-25 13:09] #86 closed

[2015-05-25 14:07] yang-wei commented on #214
@ejaxon Will keep your comment as a reference. Thanks for input and good luck in your project !

[2015-05-25 14:07] #214 closed

[2015-05-25 14:07] #209 closed

[2015-05-25 15:18] #205 closed

[2015-05-25 15:26] #217 closed

[2015-05-25 15:29] yang-wei commented on #3
close due to inactive

[2015-05-25 15:29] yang-wei commented on #96
close due to inactive

[2015-05-25 15:29] #96 closed

[2015-05-25 15:29] #3 closed

[2015-05-25 15:34] yang-wei commented on #219
I realized that it's not that easy to do it for all the charts especially `scatterchart` and `linechart`.

As you can see in my latest [pr](https://github.com/yang-wei/react-d3/commit/948cb7d22e622c49418eecff5f07719c1dd6cf90) for `linechart`. Our approach now is to flat all data into a new data and map over it to generate voronoi and respective svg component(`rect`, `circle` etc). To do this, the

[2015-05-25 17:52] MatthewHerbst commented on #219
Why is it easier? I think the only main difference between the two ways is which component you do that map in. I think the first way is more expressive of what is actually going on. The second way hides that the `DataSeries` is doing much more than just operating on a single `DataSeries`.

Maybe you can explain it better to me, but I really don't understand why we need any of the voronoi stuff. Wh

[2015-05-26 03:51] yang-wei commented on #219
If we get rid of voronoi surely it would be easier.  Voronoi is needed to do better animation in graph like `scatter chart` etc. Looks at the examples of scatter chart in [react-d3-component](http://codesuki.github.io/react-d3-components/example.html). You'd have to hover on the top of circle to trigger tooltip. Voronoi helps to create greater experience.

By implementing voronoi, we need to rely

[2015-05-26 08:36] MatthewHerbst commented on #219
What's so bad about having to hover over the circle? I'm not sure there is a better way to do it - if you are showing all data points in the y-axis when hovering, what happens if I drop 1,000+ elements into the graph? That's not unreasonable depending on what the chart is showing.

imho, we should dump animation, unless we want to implement `d3.transition()`

[2015-05-26 16:55] MatthewHerbst opened #222 "ScatterChart tests failing on master"
After adding the missing props discussed in #218 , I tried to run the tests locally and they failed. Specifically, line 62 of `scatterchart-tests.js` failed with the error:

[code]

I haven't made any changes to `ScatterChart` locally so I wasn't sure why it was failing. I switched to master and ran the tests there and they still failed! Clearly, something somewhere shouldn't have been merged. The

[2015-05-27 00:38] yang-wei commented on #222
@MatthewHerbst Are you on the latest master?

[2015-05-27 01:47] #222 closed

[2015-05-27 22:09] MatthewHerbst opened #223 "We should drop animation and Voronoi, and focus on making react-d3 actually be d3 on React"
Implementing our own animations is:

- preventing us from making this library what is should be - d3.js implemented in a React.js context
  - d3.js doesn't do animation for you - it just empowers you to add it in
    - small caveat with `d3.transition()`, but what we are doing is a far cry from that
  - spending time on animation is time not spent adding in more d3.js features
- creating bugs and

[2015-05-27 22:28] MatthewHerbst commented on #223
@esbullington haven't heard from you on anything for a while now. I know you're busy, but your thoughts on all of this would be greatly appreciated.

[2015-05-28 02:54] parshap commented on #223
This is not dead-on-arrival to *me*. I agree, we should try to expose d3's semantics and not much more.

I am, however not opposed to having something like `react-d3/easy-charts` where we bundle things like high-level charts and animation helpers. This would give us real-world use cases bundled in the same codebase, helping make sure the low-level react-d3 module continues to serve its purpose.

[2015-05-28 03:17] MatthewHerbst commented on #223
@parshap I couldn't have said it better myself :+1:

[2015-05-28 08:29] esbullington commented on #223
tldr: d3 is a dataviz library, this is a chart library.  Look to MetricsGraphics for inspiration (also build on d3)

To answer the question specifically, this is meant to be "d3-easy-charts".  On retrospect, I should have chosen another name, but I'm far from the only one who has made the mistake of naming a charting library based on "d3" (see nvd3, c3, etc.).  And by the time I realized it, there

[2015-05-28 18:57] MatthewHerbst commented on #223
Thanks for the feedback @esbullington The interesting thing about the discussion you have in #9 is that it would allow each `DataSeries` to potentially have unique styling/animations. It seems though that that approach was never implemented? Is that something you would like someone to work on?

As for your priorities, I think the fastest way to eliminate bugs would be to get the animation code wor

[2015-05-31 14:53] yang-wei commented on #219
So I've decided to go with the second option where we only have one `DataSeries`. Maybe `DataSeries` is not the correct name in this case but I think it's fine for now since it's not exposed as our API.

Also for future reference, I write out what is the job of each layer. Our charts are not 100% as stated in below but as you say let's make a standard.

| Component        | What they do

[2015-05-31 14:58] yang-wei commented on #223
Since @esbullington is busy let me tell you what I know. No Eric is not working on that issue and that's not our main focus. This feature is a great-to-have feature in the future but it will bring up a lot of API changes.

Thanks to your pr we now have props like `colorAccessor` which increase the flexibility to make styling. So I think that's not our main concern now.

[2015-06-02 09:00] jeans11 opened #225 "className prop for BasicChart"
Hi guys !

When we use **BarChart**, we can't specify className prop for **BasicChart** render. Indeed, there is a class for svg element but there isn't class for div element which contain h4 title and svg chart.

[2015-06-02 23:38] formula1 opened #226 "Updating the npm package"
https://www.npmjs.com/package/react-d3 was last updated 2 months ago

- https://github.com/esbullington/react-d3/pull/198

I can always make this repository directly be required, however I'd prefer not to as I don't know when a change/merge will be breaking

I know this is still in alpha state so more than likely merges will be for stability purposes. You can also add something like below to the i

[2015-06-02 23:45] MatthewHerbst commented on #226
I think it will be upgraded once @esbullington releases v0.4, since there are currently breaking changes in master that would not allow for a minor upgrade. Maybe a better question is what the timeline for v0.4 looks like.

[2015-06-03 04:43] MatthewHerbst commented on #225
I'll have a pr with these changes + a bit more soon.

[2015-06-03 08:07] yang-wei commented on #226
@formula1 Give us another week. It will be released when animation for each chart are done.

[2015-06-03 08:08] #223 closed

[2015-06-03 18:12] formula1 commented on #226
@MatthewHerbst That makes sense
@yang-wei No problem, I can tell this library has alot of potential already. Feel free to take your time to do it right, don't rush on my account :)

[2015-06-03 18:12] #226 closed

[2015-06-03 18:15] MatthewHerbst commented on #225
@jeans11 If you look at #227 , while I don't allow you to pass in the className for every sub-component (it would mean adding a massive number of top-level props which we are trying to avoid right now), every Chart, Axis, Title, and Label component will now have a unique className that you can access. That should solve anything you need to do - let me know if you see anything missing.

[2015-06-04 11:23] jeans11 commented on #225
@MatthewHerbst, thanks !!! I will test it !!!

[2015-06-06 06:42] MatthewHerbst commented on #219
One thing I don't understand is the need for containers - why can't say, a Circle, just animate itself?

[2015-06-06 15:20] yang-wei commented on #219
@MatthewHerbst [This article](https://medium.com/@dan_abramov/smart-and-dumb-components-7ca2f9a7c7d0) explains well =)

[2015-06-06 19:13] MatthewHerbst commented on #219
:+1:

[2015-06-10 13:47] jeans11 commented on #225
Hi,

@MatthewHerbst, I can finally test this ! To retrieve the changes, should I change the source of the npm package ?

[2015-06-11 05:39] MatthewHerbst commented on #225
The code in the npm package is actually going to be the compiled js if I'm not wrong. Assuming you are using something like `browserify` and `reactify` to compile your JSX into JS, you should probably be alright doing a straight out replace of the code. You might have to do it outside the npm package though, not sure. Let me know how it goes!

[2015-06-11 12:16] jeans11 commented on #225
Hi,

Thanks @MatthewHerbst. So, I have clone this repo in a thirdparty folder. I use webpack. I meet a little mistake. I think, a dependency is forgotten in the file **LegendChart**  because in line **31**, there is:

[code]
But there is not ```require('d3')```

[2015-06-11 17:12] MatthewHerbst commented on #225
Hi @jeans11 . You are completely right, it was accidentally forgotten there - show you how poor our testing currently is :(

For your code to work you can add it in.

Do you want to make a pull-request for the fix? Always nice to have more contributors :+1:

[2015-06-12 03:53] yang-wei commented on #225
just curious why there are no errors for this issue

[2015-06-12 04:03] MatthewHerbst commented on #225
Because all the charts pass in colors to `Chart` which passes it to `LegendChart`. Since they all pass them in, the `defaultProps.colors` was never getting used, and we don't have a test case for it explicitly, so it probably is failing in the background and we just never noticed.

[2015-06-12 08:42] jeans11 commented on #225
Hi guys !!

I 'm testing add className to **BarChart** component. I see that **BasicChart** have two classNames defaults props. (_titleClassName_ for h4 element and _className_ for the div container). Good !! but it's not possible to propagate this classes from **BarChart** to **BasicChart**.

[2015-06-12 14:55] yang-wei commented on #225
hmmm... so you want a custom className for Basic Chart? yes you can't do that.

[2015-06-12 15:09] parshap commented on #225
Has there been any consideration in removing the wrapping `<div>` element and returning just an `<svg>` element when not using a legend? There doesn't seem to be much value in rendering the container and `<h4>` since users may want their own styling, layout, or a different heading element and we will have to manage an API to support all of that. Seems simpler to just move that concern to the end-u

[2015-06-12 15:31] parshap commented on #223
@esbullington: Thanks for sharing your thoughts and links to the other relevant posts. You have obviously given this topic a lot of thought and I am totally onboard with this library being *d3-easy-charts*.

Is it necessary to mirror *all* of d3's functionality in React? I think we just need enough to be able to accomplish server-side rendering and to expose an idiomatic React interface (i.e., com

[2015-06-12 20:17] MatthewHerbst commented on #225
@jeans11 is there a reason that the default class names aren't ok for you to use?

@parshap the goal of this library is to make is trivial to create graphs, and having titles is a valid part of that. I agree we should make it easier to modify that title. However, if you want your own, then just don't include a title when you create the graph. Then you can wrap it how you want. I'm not sure how us

[2015-06-15 06:30] jeans11 commented on #225
Hi guys !

@parshap, this is what i have done ^^.

[2015-06-25 22:58] Kevnz opened #234 "Should hover effects change state"
I was creating an interactive Line Chart and noticed that hover changes state of the circles, however if I am trying to render the chart again React throws an error for changing state during the render cycle. Would this be better as a direct DOM change and bypass state? That way the chart can rerender safely? I would be happy to submit a PR for this, but before I do that I'd like to know if there

[2015-06-26 00:12] MatthewHerbst commented on #234
What do you mean by "render the chart again?"

Can you show us some of your code?

In principal, React code should never interact directly with the DOM - that's the entire reason React exists in the first place - DOM interaction is very, very slow.

[2015-06-26 01:14] Kevnz commented on #234
https://github.com/Kevnz/x-change-ui is the code, the site can be seen at http://x-change-ui.divshot.io/, interactive chart that lets you add more currency comparisons, so if you click get, then hover over the chart the state is changed for the hover effects over the lines and circles. This will throw errors when the chart data is updated and the render cycle happens as the chart has changed. It w

[2015-06-26 01:27] MatthewHerbst commented on #234
Not sure I see the problem - I was able to add some lines, then do some hovering, then add some more lines and didn't see any console errors.

(Though I would recommend checking to see if input is a number :) )

[2015-06-26 01:38] Kevnz commented on #234
The sample is just a toy app. To replicate the issue just move the mouse around the chart after adding a second currency range. It makes sense as well when you consider that change state causes a rerender for that node then possible right after the data for the chart is updated and you get
"Uncaught Error: Invariant Violation: setState(...): Cannot update during an existing state transition (such

[2015-06-26 03:29] Kevnz commented on #234
Also, in the project contributing guidelines it says to avoid state whenever possible.
*"Please try to avoid React `state` to the extent possible. Ideally, data should be passed in to the top-level chart via `props` and then passed down to child components as needed.  This isn't because React `state` is inherently bad, but it breaks referential integrity, makes it hard to reason about errors, and

[2015-06-26 04:01] esbullington commented on #234
Right, it's a tricky issue: the chart animations have been by far the trickiest state issue to deal with, and have consistently been the only exception to our preference for avoiding React state mutations.

Unfortunately, by definition, mouseover effects involve state change.  Whether that state change takes place in the DOM (as you suggest), by the browser in CSS, or in React, it has to happen so

[2015-07-02 20:36] davidgtonge commented on #212
Hi - sorry I got pulled onto other things and wasn't able to get the pull request done.
I agree with keeping the library minimal - to be honest the immstruct and voronoi code put me off using this library.

That said - the basic implementation is excellent.

[2015-07-02 20:36] #212 closed

[2015-07-02 21:03] esbullington commented on #212
Hey no problem, thanks for closing the issue.

Regarding the immstruct dependency, Yang-wei actually [removed the immstruct dependency](https://github.com/esbullington/react-d3/commit/3054e05f9f0b3195f01b5be2571adea9f4a636d4) a couple of weeks ago.

Was it the Voronoi graphics or the Voronoi implementation that put you off?

[2015-07-10 09:08] BigDataSamuli commented on #234
I think the error is rather caused by Kevnz's code changing the components state directly, see https://github.com/Kevnz/x-change-ui/blob/master/app/main.js#L30-L32

You assign state.data array to a local variable and then push to it, which mutates the components state directly because the local variable still references the actual state object. You need to make a shallow copy of the state array be

[2015-07-12 05:37] Kevnz commented on #234
Actually @BigDataSamuli that has nothing to do with the error, it happens regardless. As the setState changes the data and causes a render, the mouseover changes state during the render process, hence the error.

[2015-07-12 08:06] BigDataSamuli commented on #234
Ok sorry, the error message didn't really correlate with that anyway. I just though that calling setState was only prohibited directly inside the update or render path and that the mouseover events would have been queued somehow, but I guess not.

[2015-07-18 18:27] MatthewHerbst opened #237 "ColorAccessor's future"
So, I've been giving more thought to colors and our graphs, and come to this realization: we either need multiple` colorAccessor`s for different parts of the graph, or, each `*Chart` needs to define its own `colorAccessor`.

Let me explain:

The current design goal (not what it currently is) of `colorAccessor` is:

[code]

That looks fine, except it falls apart if you try to use it for both say, `

[2015-07-19 06:36] MatthewHerbst commented on #225
Something that could be done could be to move the title element (the `<h4>`) into its own function within the component. Then, when calling for it, if the title is `''`, we could return null which would render a `<noscript>` tag which would have the desired effect I believe.

[2015-07-19 15:49] yang-wei commented on #237
Is this implementation going to change how we are using it currently.
Can you explain how are we going to use the others parameter passed in

[code]
This `fill` prop will be passed down to elements like `rect` etc.

// if this feature was implemented like you suggested, what are we going to use p0, p1?
areaSegmentColorAccessor(series, seriesIdx, p0, poIdx, p1, p1Idx) => seriesIdx

[2015-07-20 07:27] MatthewHerbst commented on #237
Yes, this implementation would be a breaking change.

Right now, we use `fill` as the fill for everything - the colors of the lines segments, the colors of the circles/points on a line segment, and the color of areas and bars, etc. What this implementation would do is, just as there would be three accessors, there would now be three fills, one each for points, line segments, and areas respectively

[2015-07-20 13:50] yang-wei commented on #237
Thanks for you elaboration but I still can't see where to use the `po.v` and why do we need that. Do you mind explain more?

I am expecting `props.areaColors` to be color palettes like `d3.scale.category10()`
So,
[code]
So it means we only need one unique parameters.
[code]
seems to be enough to make thing work.
Each point(or area) only need an series id to know which series they are belong to.

C

[2015-07-20 14:46] rrag opened #238 "Composable Charts"
There are [multiple](https://github.com/esbullington/react-d3/issues/209) [references](https://github.com/esbullington/react-d3/issues/54) [...](https://github.com/esbullington/react-d3/pull/9#issuecomment-66976230) to creating composable charts. I agree with that approach and it was one I also had proposed earlier.

I understand @esbullington has been quite busy with work, and @yang-wei has been

[2015-07-20 14:49] rrag opened #239 "Next version - Wishlist"
- [ ] Composable charts (https://github.com/esbullington/react-d3/issues/238)
- [ ] If animations are needed explore possibility to depend on `react-motion`
- [ ] Use `babel` instead of `react-tools` & `React.Component` syntax instead of `React.createClass`

[2015-07-20 16:10] yang-wei commented on #238
Yes as you known we had been discussing this for so long but haven't came out with a nice API. I am happy to hear the idea =)

Your library looks really great.

Just one thing, our library came out first to help user build powerful graph *quickly* with react.
Thus I would also like to keep the current high level api for doing that.

But I do believe as long as those composable components are built

[2015-07-20 16:17] yang-wei commented on #239
Thanks for opening up issue. I had been doing some other project so the development is getting slow.

`babel` had been proposed earlier in #174 and I think we need to do it soon for cleaner syntax (es6 class), es6 module loader etc.

[2015-07-20 16:51] rrag commented on #238
Sure, we can maintain the high level api, My preference is maintain it for backward compatibility but deprecate it. Supplement these by having multiple examples and a good documentation.

My thoughts on this composable api. I see 2 broad categories of charts

### Charts w/ Axis
- Line
- Area
- Histogram, stacked,
- candlestick
and any combination of the above

### Charts w/o Axis
- Tree
- Pie
- ga

[2015-07-21 15:47] esbullington commented on #238
Thanks, @rrag You're absolutely right, composable charts is very much where I wanted to end up, as opposed to front-loading the main chart element with properties.  But I've not adequately documented this part of the project, and need to do some things to promote it better.

I've got some free time now, so I'll take a look at the projects you mentioned as well as see what you've done in `react-sto

[2015-07-21 16:37] rrag commented on #238
I am not sure I understand that, we do not have a means of composing charts now. And expecting users to write boilerplate code to flatten objects and calculating scales to pass it down is just not an option.

I expect composable charts in react-d3 to be simple in complexity as all the data is provided by the user. You will get an idea when you see the examples on stockcharts

stockcharts was a dif

[2015-07-22 19:27] rrag commented on #238
wanted to share a project I just came across using declarative JSX syntax https://github.com/FormidableLabs/spectacle quite neat

[2015-07-25 13:18] yang-wei opened #241 "Bar Chart default color accesor"
Currently the bar chart is:

![image](https://cloud.githubusercontent.com/assets/5494874/8889581/c670a8c8-331a-11e5-8e70-09545d1a70f4.png)

Before

![image](https://cloud.githubusercontent.com/assets/5494874/8889580/a674d742-331a-11e5-8559-0385a0d2988d.png)

I think expected color is the before one.

[2015-07-25 13:19] yang-wei commented on #241
@MatthewHerbst Any thought on this ?

[2015-07-25 18:30] MatthewHerbst commented on #237
Sorry! Didn't see your above comment until just now.

The `p0` and other points are created by the various `stack` and `area` functions that we use throughout the code. Those functions work by defining a set of boundary points.

What you have above works if you want to limit users to only coloring based on the seriesIndex. I want users to be able to access all the information available at the time

[2015-07-25 18:30] MatthewHerbst commented on #241
I agree. I could hot fix this now if you want, or maybe if we can figure out #237 then I can do the entire overhaul.

[2015-07-26 02:21] yang-wei commented on #241
@MatthewHerbst Can we fix this first because I want to update our npm registry fast. Thanks.

[2015-07-26 02:28] yang-wei commented on #237
The thing I don't like about this API is the complexity it brought.

I really think this is what people need to color their graph.
Could you show me one use case where people need to color their graph by coordinate point or additional props.

[2015-07-26 03:03] MatthewHerbst commented on #237
I personally have a LineChart where I color the line segments based on the value of the two points. I also have several charts where I color the series based on an id I have assigned them prior to graphing them. Dropping the coordinate and point complexity I'm not in favor of but can understand. But users should absolutely be able to pass arbitrary props in with series and/or datapoint values and

[2015-07-26 12:49] yang-wei commented on #237
I am ok with what you suggest. This is a great feature but it need a good documentation.
[code]
I am good with the default return value(seriesIdx).

Btw one really use case which is really useful I can think of colorAccessor is:
Try to think a single series bar chart where x axis is date and y axis is temperature. Let's say for those date which has high temperate( > 35 c) we want to give it color

[2015-07-26 13:44] yang-wei commented on #174
The react comminity is moving into es6 (class, es6 module loader, const), plus reactify is no actively maintained, so I think we should move on too.

Tested out babelify today and it seems it does not add on unnecessary dependencies.

[code]

And the result
![image](https://cloud.githubusercontent.com/assets/5494874/8894149/046a3ece-33e7-11e5-9a22-6243075fb0b6.png)

[2015-07-26 15:08] #174 closed

[2015-07-27 15:22] yang-wei commented on #241
I found it's not good to tweak the default colorAccesor property of BarChart so I think the best way to do this now it to turn BarChart into multi series chart.

If we pass it one series it will looks like the before.

Probably I can do this on tomorrow.

[2015-07-27 17:08] MatthewHerbst commented on #241
I was going to try doing this tonight:

[code]

But the tests break when I do that. Can't figure out when

[2015-07-28 17:31] MatthewHerbst commented on #237
Yeah, I will make sure to make very good documentation. I'll try and push the changes this weekend when I get time. The only chart that doesn't work to have the `seriesIdx` as the return value is `BarChart` as we've seen in #241

[2015-07-29 09:03] jeans11 opened #243 "listStylePosition Legend component"
Hi guys !

Do it well change:
[code]
to
[code]
Because, if you use a reset stylesheet, list-style not appear

[2015-07-29 20:07] dennisjac opened #244 "How does colorAccessor work?"
From the code it looks like I could use colorAccessor to define a function that for example extracts the color value for a segment for a pie chart from the provided data e.g. by providing a color attribute in addition to label and value.
When I pass a function though this function is never called. I managed to get the "colors" property to work but that apparently only gets the index of the current

[2015-07-29 20:36] MatthewHerbst commented on #244
`colorAccessor` passes a value (ideally expected to be a primitive type) to the `colors` function. It is the `colors` function that actually determines the color that is generated from the passed-in value. The default `color` function is to use the d3.js `d3.scale.category20c()`.

The current `colorAccessor` function is passed two parameters, `d`, and `idx`. This generally corresponds to the passi

[2015-07-29 20:53] dennisjac commented on #244
From what it looks like the colorAccessor is just ignored:
[code]
The PieChart gets rendered with the colors specified in myColors() but myColorAccessor is never called and I see no errors in the console.
I also tried to set the valueTextFormatter using an example found here:
https://github.com/esbullington/react-d3/pull/190
but this seems to get ignored as well.

[2015-07-29 21:08] MatthewHerbst commented on #244
Strange. It's getting passed correctly as far as I can tell, and it is call on line 50 of src/piechart/DataSeries.jsx:

[code]

Is your PieChart getting the correct colors, or is every part of the pie the same color?

[2015-07-29 21:43] dennisjac commented on #244
Yes the colors are returned correctly. I see 'a' appearing four times in the output because there are four series in the dataset and each gets one consecutive color from the array defined in myColors as expected. I don't see any 'b' printed in the console though which leads me to believe that the accessor is never called at all.

[2015-07-29 22:02] dennisjac commented on #244
I found the reason. I used "npm install react-d3" for installation but apparently that version is outdated and there the fill line doesn't use the accessor.
What is the release policy here? On Github I see the latest version tagged as 2.0 from February but the npm page claims to deliver 0.3.1 (which is still 4 months old):
https://www.npmjs.com/package/react-d3

[2015-07-29 22:49] dennisjac commented on #244
I was able to install the master branch directly from github though with two issues:
a) I now need to include it using require('react-d3/src') instead of just require('react-d3')
b) Apparently due to the use of arrow function react-d3 now requires ES6 support i.e. one needs to use Babel or similar tools to get it working. Is that intentional? I don't see this requirement mentioned anywhere in the

[2015-07-29 22:54] MatthewHerbst commented on #244
I can't say much in terms of release cycle. @esbullington and @yang-wei can answer more to that. I know we are trying to prep for one soon though.

You should build the project. That will create the proper folder structure with the compiled code.

`gulp build` to just perform a build
`gulp release` to perform a release build

See `gulpfile.js` for all the tasks.

As you continue to point out, we n

[2015-07-30 02:49] yang-wei commented on #241
Another way to solve this (which I think is better) is to make BarChart into multi series graph.

If we pass in one series, it will become what show in our website.

[2015-07-30 02:51] yang-wei commented on #244
This project is written in ES6 but after you build it you can write it in ES5 as well. So my advise is to build it and keep using
[code]

[2015-07-30 04:43] MatthewHerbst commented on #241
The cool thing about making BarChart me multi-series would also be that we could allow for stacked bar charts. I think that would be awesome. In fact, you can really think of all BarCharts as being stacked bar charts.

[2015-07-30 05:03] yang-wei commented on #241
Working on this

[2015-07-30 23:59] dennisjac commented on #244
I can build a new release but I'm not sure how to integrate the files produced in the build directory so that a require('react-d3') would pick them up. The package.json references src/index.js as main so I assume the require would pick up that file and not the ones produced in the build directory or am I wrong about this?

[2015-07-31 00:35] parshap commented on #244
@dennisjac We've had similar issues while maintaining and using a fork. The approach we've taken is to always run `gulp release` after making changes, check in the `dist/` directory into git, and update package.json to point to `build/cjs/index.js`. This allows us to install and use our fork as a git dependency with npm.

[2015-08-10 09:18] MatthewHerbst commented on #241
Hey @yang-wei Let me know when you've got this ready. I'm holding off on making a pr for #237 until you make these changes since I don't want to have to do any crazy merge-conflicts.

[2015-08-10 13:19] yang-wei opened #248 "Demo page not working"
http://esbullington.github.io/react-d3-website/

[2015-08-10 13:21] yang-wei commented on #241
@MatthewHerbst  This is merged in #245. Please go ahead !

[2015-08-14 04:54] MatthewHerbst opened #249 "Understanding tickArguments"
@yang-wei / @esbullington

Can one of you please explain lines 48-55 of src/common/axes/XAxis.jsx?

[code]

Seems to me that we should go with one method or the other, but not both. Maybe I'm confused about this?

[2015-08-20 05:00] bbirand commented on #248
:+1:

[2015-08-20 16:09] anthonyray commented on #248
having the same problem here !

[2015-08-21 07:34] yang-wei commented on #248
ping @esbullington

[2015-08-23 14:18] yang-wei opened #252 "Update latest source on npm"
ping @esbullington

I think we should do this now since many get confused =(

[2015-08-27 07:46] jaceechan commented on #248
@esbullington  the same problem here

[2015-08-27 17:22] e-monson commented on #248
:+1:

[2015-08-27 17:34] MatthewHerbst commented on #248
@yang-wei maybe you can fork master and put up your own github.io site until @esbullington comes back?

[2015-08-27 19:52] dubert commented on #248
:+1:

[2015-08-28 02:01] yang-wei commented on #248
@MatthewHerbst That will be good enough. But I am having holiday. Let's see what can I do asap.

[2015-08-28 02:13] yang-wei commented on #249
@MatthewHerbst
Just saw this, sorry.

I see, from what I understand we do support time unit x axis. So these codes make sure we convert time properly using `d3.time` method if `props.tickInterval` is defined.
[code]

[2015-08-28 04:21] MatthewHerbst commented on #249
Ah, alright thanks! Just wasn't sure.

[2015-08-28 04:21] #249 closed

[2015-08-28 04:22] MatthewHerbst commented on #248
@yang-wei I can do it if you need, just figured it might be better for you too since you are more involved.

[2015-09-04 15:47] MatthewHerbst commented on #248
New working demo page: https://reactiva.github.io/react-d3-website/

+vote to close this issue.

[2015-09-04 19:53] askmatey commented on #239
`react-motion` should not be added, please keep this library as simple as it is.

[2015-09-05 02:32] #248 closed

[2015-09-05 02:33] yang-wei commented on #252
done in #256

[2015-09-05 02:33] #252 closed

[2015-09-12 11:59] AlexHandy1 opened #260 "Basic Bar and PieChart Examples Error >> Uncaught TypeError: Cannot read property 'map' of undefined"
Trying to implement your basic Bar and PieChart examples locally.
Npm packages all installed correctly - loading up through a basic webpack and bundle.js set-up which had been working fine on previous programme.
When add in below code to a simple component I get error thrown from underlying react-d3 code of "Uncaught TypeError: Cannot read property 'map' of undefined" (see specific code snippet th

[2015-09-13 00:39] yang-wei commented on #260
Yes this is the issue with you data input. Since bar chart is not a multi series (stacked) chart, the data layout should be:
[code]

Reference: https://github.com/esbullington/react-d3/wiki/Bar-Chart

[2015-09-13 08:59] yang-wei opened #261 "marker"
A sneak peek of current implementation. Thanks @nightlyop
Marker only applied to 2 charts:
 * scatter chart
 * line chart

![image](https://cloud.githubusercontent.com/assets/5494874/9835974/c0673900-5a3f-11e5-89f4-0ca1a4a3cdd2.png)

How to use (API):

![image](https://cloud.githubusercontent.com/assets/5494874/9835986/039f5e3c-5a40-11e5-9bbf-a897020c0a2c.png)

Implementation was good but I did no

[2015-09-13 09:01] yang-wei commented on #177
Close due to inactive. Please open a new issue to make further discussion.

[2015-09-13 09:01] yang-wei commented on #177
gi

[2015-09-13 09:01] #177 closed

[2015-09-13 09:02] yang-wei commented on #185
Close due to inactive. Please open a new issue to make further discussion.

[2015-09-13 09:02] #185 closed

[2015-09-13 09:02] yang-wei commented on #204
Close due to inactive. Please open a new issue to make further discussion.

[2015-09-13 09:02] #204 closed

[2015-09-13 09:03] yang-wei commented on #216
Currently we do not plan to support this feature.

Close due to inactive. Please open a new issue to make further discussion.

[2015-09-13 09:03] yang-wei commented on #216
gi

[2015-09-13 09:03] #216 closed

[2015-09-13 09:04] yang-wei commented on #219
Close due to inactive. Please open a new issue to make further discussion.

[2015-09-13 09:04] #219 closed

[2015-09-13 09:04] #225 closed

[2015-09-13 09:05] yang-wei commented on #234
Close due to inactive. Please open a new issue to make further discussion.

[2015-09-13 09:05] #234 closed

[2015-09-13 09:36] AlexHandy1 commented on #260
Thanks - that sorted it, should probably update the other documentation on the JSFiddle

[2015-09-14 13:58] #260 closed

[2015-09-14 14:05] AlexHandy1 opened #262 "Correct combination of react versions"
I am having some trouble getting the correct combination of react versions to work with react-d3.

When I use 0.12.1 as in the JS Fiddle and include the CDN link - when I nest a bar chart component (see simple code example at end) I get an "Cannot read property 'firstChild' of undefined" error thrown from react-d3 code.  The cause seems to be that react is trying to render a nested component (the

[2015-09-15 11:30] nightlyop commented on #261
To pass a separated marker object to set the properties of the markers sounds good to me. I like your example for a more complex marker! However, I would not use mixins (https://medium.com/@dan_abramov/mixins-are-dead-long-live-higher-order-components-94a0d2f9e750 but we discussed that already in another issue).

[2015-09-15 11:44] nightlyop commented on #262
I don't get it. You create a component `ChartArea` which contains a component `ChartType` and the component `ChartType` contains a `BarChart`?

Do the examples given in `docs/examples/main.js` work with your React version? You could copy them into your page to give that a try.

[2015-09-15 15:02] yang-wei commented on #261
@nightlyop Yes I am aware of this. However, I think mixins is really good for code resusablity, I still can't figure out how to replace our mixins with HOC.

If you look at [react-future repository](https://github.com/reactjs/react-future/blob/master/01%20-%20Core%2F02%20-%20Mixins.js), mixins will be support in other way so I think it's safe enough to use mixins since it makes our codebase simple

[2015-09-16 17:21] AlexHandy1 commented on #262
@nightlyop thanks for getting back to me, neither working with any kind of dynamic state.
Have moved onto something else so will close given this would unlikely ever be an actual production set-up

[2015-09-16 17:21] #262 closed

[2015-09-16 18:20] Polatrite opened #263 "Example page is down"
The github.io example page is currently down:
http://esbullington.github.io/react-d3-website/

[2015-09-16 18:58] MatthewHerbst commented on #263
Please use https://reactiva.github.io/react-d3-website/

[2015-09-18 01:28] #263 closed

[2015-09-28 18:09] TannerRogalsky opened #265 "React v0.14"
Hello maintainers! I have good news for you! In the general case, this library seems to just work without any changes.

However, at the time of v0.14-rc1, a bunch of tests break because of some weird behaviour around SVG DOM nodes having an object instead of a string for a className attribute when you pull them out of the render tree. If that sounds weird it's because it is and I'm not 100% on wha

[2015-09-29 12:10] yang-wei commented on #265
Thanks for the notice. Really appreciate =)

[2015-09-29 14:32] TannerRogalsky commented on #265
:+1:

[2015-09-29 14:32] #265 closed

[2015-10-06 15:02] nhjk opened #267 ""TypeError: d is undefined" when values is an empty array"
For example:

[code]

The reason I have empty values is that I asynchronously fetch the data from a server, so its empty until the request completes.

[2015-10-06 15:39] MatthewHerbst commented on #267
It is an intentional error. You cannot define a line with less than two points of data. You should dynamically add the object to `data` once you have the data to fill it.

[2015-10-06 17:19] nhjk commented on #267
That makes more sense. Thanks!

[2015-10-06 17:19] #267 closed

[2015-10-07 00:39] MatthewHerbst commented on #267
Glad to help! If you want, feel free to make a pr that gives a better error message :+1:

[2015-10-08 12:58] Sigfried opened #268 "Transitions?"
How do you recommend managing D3 transitions with these charts?

[2015-10-08 13:36] MatthewHerbst commented on #268
Can you give any context into what you are trying to do?

We've had some discussion about animations, but React gets all wonky when it comes to them, and there aren't any really perfect solutions right now.

[2015-10-08 13:46] Sigfried commented on #268
Nothing in particular. I'm wondering about the possibility of using D3 in a React context. I know D3 well and React not at all. And I'm wondering if putting D3 into a React component basically means giving up the possibility of transitions. If so, I may just stick with traditional D3 programming--which has various disadvantages.

[2015-10-08 17:32] MatthewHerbst commented on #268
You have to do a lot of overhead in React to get it to work nice. If you are new to React, I would focus on either learning React first, or, stick with the traditional D3 programming (maybe take a look at Angular?)

[2015-10-12 07:19] yang-wei commented on #268
Did you look at React documentation regarding [animation](https://facebook.github.io/react/docs/animation.html). I think this solution fit this library well. Never gave it a try but if you do in the future, we would glad to have you report it for other users reference.

[2015-10-19 18:43] natec8 opened #269 "Current Version Number"
I noticed that the previous version numbers all started with 0, however the latest release is version `v4.0.0`. If I'm not mistaken, it should be `v0.4.0`. The README also mentions the future version `v0.5.0`.

https://github.com/esbullington/react-d3/releases/tag/v4.0.0

[2015-10-20 02:43] yang-wei commented on #269
Thanks for reporting. Fixed

[2015-10-20 02:43] #269 closed

[2015-10-21 09:35] fuxiocteract opened #270 "Pie Chart values didn't stick to 100%"
When changing data for pie chart using react, some labels of portions of pie chart will go over 100%

[2015-10-21 22:54] brycedorn opened #271 "can't disable labels for piechart"
I'm trying to draw a `PieChart` without labels, but both `showInnerLabels={false}` and `showOuterLabels={false}` aren't doing anything.

looked through src, looks like `props` should be [propogating](https://github.com/esbullington/react-d3/blob/master/src/piechart/Arc.jsx#L52) down from `PieChart` all the way to `Arc` but it looks like the default might be [overriding](https://github.com/esbullin

[2015-10-22 21:13] #271 closed

[2015-10-22 21:36] MatthewHerbst commented on #271
If that's happening, it's either standard behavior or a bug with React; I've been under the impression that defaultProps is only used when the prop isn't specified at all from the parent, and `{...this.props}` should count as specifying props.

[2015-10-22 21:37] brycedorn commented on #271
((didn't realize I was using the other react d3 library, switched to this one & it works :stuck_out_tongue_closed_eyes:))

[2015-10-23 04:03] MatthewHerbst commented on #270
Can you give a code sample of how you are changing the data? Also, any chance you can give us the data you are using so we see what the values are?

[2015-10-26 20:05] posgarou opened #272 "Specify Custom Scales?"
I wanted to check up on the status of custom scales (see #185, which was closed due to inactivity).  As noted in the previous issue, this is a pretty important / useful feature.

Are any of the contributors currently working or planning to work on this?  Otherwise, is this PR-able?

Thanks!

[2015-10-26 20:15] MatthewHerbst commented on #272
Everything is PR-able! :+1:

[2015-10-26 20:16] posgarou commented on #272
@MatthewHerbst Sounds good, I'll try to pull a PR together over the next few days.

[2015-11-03 09:37] idris opened #274 "Variable-width charts?"
Is there a way to specify a % for a chart width, or have it fill the entire container?

The height could maintain some aspect ratio.

[2015-11-03 17:56] MatthewHerbst commented on #274
I don't think there is a way to pass a percentage. Your best bet would be to create a container around the chart. Then, when you create the chart, pass it the width and height of the container, which will have the effect of filling the container. All charts take width and height (in pixels) parameters.

[2015-11-03 20:13] idris commented on #274
Right, but what if the container width is relative to the window?  Basically, I want to use this in a responsive flex-width website.

[2015-11-03 20:19] MatthewHerbst commented on #274
Make a pr to support percent :)

[2015-11-04 09:26] nightlyop commented on #274
I think it might be nice to have the possibility to have dynamic chart size. So far I'm using a workaround (copied from gitter):

1. the chart is embedded in div1
2. I set the states graphWidth and graphHeight in the constructor of the class/page to an initial size.
3. I create the chart:
[code]

4. 4! (don't know why markup changes my 4 to a 1 -.-) The function resizeGraph() does
[code]
 --> stat

[2015-11-11 14:41] khinlatt opened #275 "Question: forking and building"
@esbullington I attached an onClick handler hook to the pie chart after forking your repo. Since I only did that one type of chart for now, I did not want to create a PR against yours yet.

How can I package the new changes properly so I can refer to my git repo with the new changes?

I am new to npm so it would be great if you can guide me what to do after forking and updating changes to files in

[2015-11-11 16:46] MatthewHerbst commented on #275
Do you actually want to put the package on npm, or just use it in your code? The easy thing if you just want to use it in your code would be to simply manually include the `react-d3` code that you have instead of taking it from npm.

[2015-11-11 17:25] vladnicula commented on #274
One way to go about it would be to have a window resize event, and publish width and height changes. I was doing that, but with this approach we can't render variable width charts on the server.

What do you guys think about this approach?

[2015-11-11 17:27] vladnicula commented on #239
I would also prefer not having react-motion in this...

[2015-11-11 17:49] MatthewHerbst commented on #274
Looking forward to seeing it in action!

[2015-11-11 18:06] mbrookes commented on #275
[code]

[2015-11-11 18:14] khinlatt commented on #275
I just want to use it in my code. Yet still want to be able to do like this dependencies: { "react-d3": "git::/mygithub..." } in package.json

I just ended up manually copying the codes from node_modules/react-d3 into a repo, makes changes and then, specify npm to pull from it instead. Thanks.

[2015-11-11 18:14] #275 closed

[2015-11-11 18:37] parshap commented on #275
@khinlatt: See this comment for how I've handled this: https://github.com/esbullington/react-d3/issues/244#issuecomment-126530747

[2015-11-11 20:08] khinlatt commented on #275
@parshap that was what I was looking for. Thanks for the help!

[2015-11-13 22:54] mwhite opened #278 "xOrient='top' doesn't work correctly"

[2015-11-27 19:11] eadlam opened #281 "How do you specify colors for BarCharts?"
Is there any documentation on how to specify colors for BarCharts?

[2015-11-27 21:31] MatthewHerbst commented on #281
Most of the charts use some version of the `colorAccessor` and `colors` props. You can find the source for most of the charts in the [CartesianChartPropsMixin.js mixin](https://github.com/esbullington/react-d3/blob/master/src/mixins/CartesianChartPropsMixin.js). It basically works like this:

`colors` is a function that, given some input, returns a color. The default `colors` function is [d3.scale

[2015-11-27 21:35] MatthewHerbst commented on #281
Now that you ask, it would be a good idea to get some docs on the example site for this. I was working on an update to `colorAccessor` to fix the known issues, but have been too busy for the last few months to finish it. I'll try and take another look at that in the coming weeks.

[2015-11-28 23:16] JeffAMcGee opened #282 "Problems with VoronoiCircleContainer for LineChart when xAccessor and yAccesor are set"
When I create a lineChart with a custom xAccessor and yAccessor, I get the following errors:

    Invalid value for <circle> attribute cx="NaN"
    Invalid value for <circle> attribute cy="NaN"

In https://github.com/esbullington/react-d3/blob/master/src/linechart/DataSeries.jsx#L76 It looks like DataSeries is reading from this.props.value which has already been transformed by xAccessor and yAcces

[2015-11-30 17:06] dkulichkin opened #283 "Legend position parameter is ignored"
The subject is missed to be passed currently into base Chart component when creating all type of charts. Hence always default "right" position takes place.

P.S. Looking forward much to having the release with horizontal oriented bar charts published on npm.

Thanks

[2015-11-30 17:47] MatthewHerbst commented on #281
@eadlam please close this issue if the above answers your questions. Let me know if you need any additional clarifications.

[2015-12-02 00:45] yang-wei commented on #282
You are right. @JeffAMcGee . Had you used it with other charts too?

[2015-12-02 00:49] yang-wei commented on #238
@rrag After been thinking for quite a while, I think I had came to conclusion regarding to this issue.
We will keep the direction we are currently doing  - which is to provide a quick chart, where user just have to pass in props at top level to get the chart done. In addition, we will export all the components so that user get to build their custom chart.

[2015-12-02 00:51] yang-wei opened #284 "npmcdn"
https://npmcdn.com/

Reason:
* Follow community work flow
* Easy for jsfiddle
* Plan to use this for documentation.

[2015-12-02 03:35] JeffAMcGee commented on #282
I have not tried using xAccessor and yAccessor with the other chart types, so there may be similar bugs there as well.

[2015-12-02 04:03] rrag commented on #238
that is fair @yang-wei . I was interested in pursuing this further, but not able to spend the time.

[2015-12-02 04:03] #238 closed

[2015-12-03 05:19] yang-wei commented on #238
its ok. Thanks for your input.

[2015-12-07 00:33] eadlam commented on #281
Yes, that helps. Thank you!

[2015-12-07 00:33] #281 closed

[2015-12-07 20:46] maherbeg opened #285 "Tooltips for data points"
Tooltips and formatting for said tooltips would be a great feature to have to make exploring in depth graphs much easier.

An example from rickshaw http://code.shutterstock.com/rickshaw/examples/formatter.html

[2015-12-08 08:09] nightlyop commented on #285
That'll be great! Google charts display the selected values similarly: https://developers.google.com/chart/interactive/docs/gallery/linechart
:+1:

[2015-12-11 02:58] kidwm commented on #239
How about using [react-faux-dom](https://github.com/Olical/react-faux-dom)?

[2015-12-21 13:09] nightlyop commented on #272
We did this. See: #286

[2015-12-21 13:15] nightlyop commented on #239
I also don't like the idea for including `react-motion`. Before including a bunch of new stuff I think it would be great if someone could cleanup what is available and maybe restructure everything. It is not as much fun as coding new features but I think it is necessary.

[2015-12-22 05:18] SylarRuby commented on #239
- The ability to mouseover any value to show actual label amount.

[2015-12-25 08:04] yang-wei opened #289 "react-d3 in 2016"
Hi folks, merry xmas :santa:

React-d3 had been active recently(thanks to all those pr and issue) and I will look at it very soon. Although it's not possible to close all issues before 2016 but thanks for the support all the time especially @esbullington (who created this library), @MatthewHerbst @nightlyop @mwhite and all awesome [contributors](https://github.com/esbullington/react-d3/graphs/cont

[2015-12-25 08:07] yang-wei commented on #239
@SylarRuby https://github.com/esbullington/react-d3/pull/287 is this what you are looking for?

[2015-12-26 05:54] MatthewHerbst commented on #289
:+1: you're too kind @yang-wei . I'm sorry I've kind of been MIA the last few months. I'm making it a new years resolution to get back to my old level of involvement!

Happy holidays all.

[2016-01-04 02:28] levinqdl opened #292 "How to show values on top of each bar in a BarChart?"
I think this is a common requirement, but I can't find how to do it. Any ideas? Thanks!

[2016-01-04 04:11] MatthewHerbst commented on #292
I'm not actually sure we support this out-of-the-box. Would be a good PR to request/make - likely isn't too difficult.

[2016-01-06 05:26] #289 closed

[2016-01-07 20:42] hhuby opened #294 "What is the data format for a simple bar chart?"

[2016-01-07 20:57] #294 closed

[2016-01-11 23:29] csakis opened #295 "Multiple colored bars in Bar Chart??"
Is it possible to set different fill colors in one Bar Chart for each bar? I am not talking about Bar Groups, just a simple Bar chart

[2016-01-13 00:16] yang-wei commented on #295
not at this time.

[2016-01-13 01:15] mwhite commented on #295
You could always create a multi-series bar chart with one series per x value.

[2016-01-13 17:36] dmavrin commented on #239
Hey. First i want to thank you guys for doing great job on this implementation of d3 into react. I just wanna know, when will you release next version with tooltips?

[2016-01-14 13:12] yang-wei commented on #239
@dmavrin Thanks. Because I am not the owner of npm, so I cannot publish npm package.

I will create a new npm package with latest release around next week. =)

[2016-01-16 10:52] dcflow opened #296 "React Native Version!"
Hi,

Is it possible to make a react native version of this?
What is an estimate percentage of the code base that needs to change?

Thank You!

[2016-01-16 15:21] yang-wei commented on #296
@DHidee66 Dude this is an exciting feature but I have to tell you that I never `npm install react-native` and I am currently busy with other thing.

I can't answer this for now but any input will be appreciated.

[2016-01-16 18:50] MatthewHerbst commented on #296
:+1:

[2016-01-21 00:22] RogerNoble commented on #282
I've run into the same issue - the reason is that the circles are expecting the data property names to be `x` and `y`. The quick and dirty fix is to update your x/yAccessor to look like
[code]

[2016-01-25 03:51] namKolo opened #298 "[Feature] How can i interact with each segment in pie chart by clicking or something like this?"
I really want to interact with each segments in pie chart. But in fact, i can't do with this lib.

[2016-01-25 19:52] sibbl opened #300 "d3 TypeError when initializing"
When trying to use the LineChart, I get a  `Uncaught TypeError: Cannot read property 'document' of undefined` thrown by d3 as it tries to get the value of `this.document` in line 8... Am I doing something wrong there or can I somehow bind `window` to the d3 loader?

[2016-01-26 09:59] nightlyop commented on #300
Can you give more details please. How are you using LineChart?

[2016-01-26 10:37] sibbl commented on #300
I'm using it in React by compiling it with gulp, browserify and the presets es2015, react, stage-0 and stage-1.

I'm using it inside a React component where I import it via `import {LineChart} from 'react-3d'`.

If there's interest, I can try narrowing down the problem and provide a sample project where it fails. For now I use a workaround where I bind the function where d3 is initialized in the d

[2016-01-26 13:12] nightlyop commented on #300
An example might help. I don't have any problems and don't have to bind `this` to the component. Actually I'm using TypeScript but I'm using the LineChart like that:
[code]
...

[code]
ps. I use the `width` and `height` props to adjust the size of the chart dynamically.

[2016-01-26 16:44] sibbl commented on #300
Please [download a minimal sample here](https://onedrive.live.com/redir?resid=264D3782C637D95A!958486&authkey=!AFEXjgwunSAnMpg&ithint=file%2czip), run it using `npm start`, wait until it compiles the JS code and then go to 'http://localhost:3000' and have a look into the console.

[2016-01-26 22:21] L5eoneill opened #302 "We need to share yDomain between adjacent AreaCharts"
This can be set in vanilla-d3, but our component can't seem to override react-d3 on this issue.

[2016-01-27 01:55] yang-wei commented on #300
I downloaded your code but still cannot reproduce it. Can you elaborate some environment detail like npm, node and os version.

This is the code
[code]

[2016-01-27 02:01] yang-wei commented on #302
can you show us some code to elaborate your problem.

[2016-01-27 07:47] nightlyop commented on #300
I gave it a try but wasn't able to get it running.
- I had to change the name of the project in `package.json` to a name without spaces.
- Are you sure you can use JSX syntax in a js document (I usually use jsx files)?
- Webstorm does not like how you import the library. It says that this version of JS does not support that import statement. But it didn't work when I changed to the older syntax ei

[2016-01-27 08:31] sibbl commented on #300
Oh sorry, I changed the project name afterwards, my mistake!

Does "wasn't able to get it running" mean that it didn't run at all or that you could reproduce the problem in your browser?

I'm using a quite larger project with ~10 components including other libraries and a logic project with ~60 classes, where all of this is no problem. As I use gulp to transpile it, there's no need to use jsx file

[2016-01-27 13:24] nightlyop commented on #300
I could reproduce the problem.
I tried `var ReactDOM = require('react-dom');` which I think is ES5? I tried it because webstorm wasn't happy with the ES6 syntax. I have no idea what's the reason therefore. I'm using ES6 syntax in other projects...

Works:
[code]

But
[code]
gives me the following error:
[code]

Also it is strange that I have to refresh the browser a couple of times (redoing `npm s

[2016-01-27 13:47] sibbl commented on #300
Yep, that's the exact error this issue is about ;)

I have no idea why you have to refresh the browser a couple of times. Maybe compiling is still in progress...? Works perfectly for me, especially in my dev workflow with livereload and other neat tools.

[2016-01-27 14:17] L5eoneill commented on #302
Our component looks like this:
<AreaChart
          data={graphData}
          width={width}
          height={height}
          colorScale={colorScale}
          margin={margin}
          xAxis={xAxis}
          yAxis={yAxis}
          yDomain={sharedScale} />
Where sharedScale = [0, 240000], for instance.
And the two charts y-axes differ:
Chart 1 goes 0 to 220000 and Chart 2 goes from 0 to 22000

[2016-01-27 22:26] #302 closed

[2016-01-28 03:55] #295 closed

[2016-01-28 04:05] yang-wei commented on #300
Still no luck to reproduce the error

[code]

![image](https://cloud.githubusercontent.com/assets/5494874/12634635/a9daa5f6-c5be-11e5-9df4-91edae2cfd87.png)

Is that possible that its related to [this issue](https://github.com/mbostock/d3/issues/2502) ?

[2016-01-28 07:48] nightlyop commented on #300
I'm using
node 5.4.1
npm 3.3.12
on Windows 7.

[2016-01-29 10:43] dtysky opened #304 "A valid ReactComponent must be returned."
I used react 0.13.3 in my project.
When I debug with grunt, my project worked fine, but after i built all and run it, this error were thrown out:

Invariant Violation XXXChart.render(). A valid ReactComponent must be returned.

It can be fixed after i remove the react-d3/node_modules/react, so i think your module can work fine with react 0.13.3, and not work with react 0.15.9-alpha.1.

[2016-01-30 08:17] blmarket opened #305 "npm installation of LineChart is not working with `TypeError: Cannot convert undefined or null to object`"
Current npm-released version(0.4.0) of LineChart.jsx does not contains `DefaultAccessorMixins`, which leads to above error.

https://github.com/esbullington/react-d3/blob/1525e7827e7352cf3fcd04b12bbad60cd80a7530/src/linechart/LineChart.jsx

Maybe I can workaround this by using current master branch, but I'd like to see some stable version which can be used instantly. How about to release a fix-ver

[2016-02-01 15:41] yang-wei commented on #239
@dmavrin I release but it's not fully tested yet so I havnt document it. Let me know if its stable https://www.npmjs.com/package/rd3

[2016-02-02 21:27] xinghengwang opened #307 "Sankey"
Can this framework add Sankey diagram support?

https://github.com/d3/d3-plugins/tree/master/sankey

[2016-02-03 12:07] dmavrin commented on #239
Cool. Will test it as soon as i can. Thanks.

[2016-02-04 00:47] yang-wei commented on #307
Not in our roadmap.

[2016-02-04 00:47] #307 closed

[2016-02-04 00:48] yang-wei commented on #304
Yes I am aware of the issue. Maybe we shouldn't not set `React` as depedency.

[2016-02-04 00:48] #284 closed